[2012-11-18 01:19] ryao opened #3 "Reintroduce kmod builtin as an optional dependency"
We removed the kmod builtin because it was problematic both for those of us on Gentoo stable and in the sense that it was mandatory. We can reintroduce it as an optional dependency with a configure script option. This will either use some busybox-style module loading code or make it invoke modprobe.

The plan is for this to occur before our first release.

[2012-11-18 01:21] ryao opened #4 "Reintroduce blkid builtin as optional dependency"
We removed the blkid builtin because it was problematic both for those of us on Gentoo stable and in the sense that it was mandatory. We can reintroduce it as an optional dependency with a configure script option. This will likely make the builtin invoke blkid when the configure script disables it.

The plan is for this to occur before our first release.

[2012-11-18 01:24] ryao opened #5 "`make install` installs keymaps even when `--disable-keymaps` is used"
We need to modify the build system to stop installing keymaps when told to disable them.

[2012-11-18 02:17] ryao opened #6 "GCC 4.6.x warnings"
GCC generates warnings when building udev. We should fix these.

[code]

[2012-11-18 06:39] ryao opened #7 "accept4() breaks Linux 2.6.31 compatibility"
I was informed in IRC that ARM systems often use older kernels that lack accept4() support. The only invocation of accept4() in the tree is in ./src/udev/udev-ctrl.c. Based on the kernel documentation, it looks like we can replace the call to accept4() with a call to accept(), call fcntl to set SOCK_NONBLOCK and use O_CLOEXEC on open().

[2012-11-18 09:23] nwmcsween opened #8 "Remove gccisms"
Udev developers assumed gcc was the only compiler utilized. Fix this and remove replaceable gccisms throughout.

[2012-11-18 09:24] nwmcsween opened #9 "Remove glibcisms"
Udev assumed glibc was the only utilized libc on Linux, fix this and remove those assumptions.

[2012-11-18 09:26] nwmcsween opened #10 "Code cleanup"
Throughout udev useless and dangerous extensions are used (pragma once, etc) remove these and utilize sane / standard functions.

[2012-11-18 09:50] horrorStruck opened #11 "./configure fails"
build fails at configure stage, it does so with:

[code]

generated configure can be seen at:  https://github.com/horrorStruck/misc/blob/master/configure

[2012-11-18 17:52] nwmcsween opened #13 "Add -Wall -Wextra cflags"
Add more warning to CFLAGS to catch errors and unintentional usage of gcc extensions. This may create a lot of useless warnings as well.

[2012-11-18 19:38] #5 closed, assigned to nobody

[2012-11-18 19:48] #6 closed, assigned to nobody

[2012-11-18 19:50] ryao opened #14 "Clang compiler warnings"
Clang 3.1 produces warnings when building eudev.

[code]

[2012-11-18 20:24] #14 closed, assigned to nobody

[2012-11-18 20:29] ryao opened #15 "Use of asprintf() is not POSIX-compliant"
Clang generates a few warnings about implicit declarations of asprintf():

[code]

[code]

asprintf is a GNU extensions that is only declared when __GNU_SOURCE is set. That violates our goal of POSIX-compliance. I have elected to leave the warnings as-is in favor of removing them in a future patch.

[2012-11-18 20:33] ryao opened #16 "Reintroduce 70-persistent-net.rules"
The removal of 70-persistent-net.rules causes a regression on Gentoo stable, Ubuntu, RHEL6 and numerous other systems. Chainsaw has volunteered to fix this, so I am assigning it to him.

[2012-11-19 16:15] #4 closed, assigned to ryao

[2012-11-19 19:06] fluxer opened #17 "eudev doesn't work, /dev not populated"
I've made a PKGBUILD for Arch Linux, builded the sources and installed it. After rebuilding my intramfs image and rebooting it seems that udev doesn't populate nodes for my storage devices and I'm unable to boot. I've tried doing it manually from the intramfs with:

[code]

but that didn't helped. Since I was using the udev-fork of braindamaged and it worked for me I tried to use the rules from it

[2012-11-20 22:15] ryao opened #18 "hwdb is broken"
udev_hwdb_get_properties_list_entry() is invoked during udevd initialization, but hwdb is not initialized. This does not appear to be used at all at the moment, so f74b77335b994d5dcecbc0d5d0d4bbfc8364c1b5 was introduced to workaround it. However, we have two things that need to be done:
1. We need to fix/delete this code. Since it does not block development with the patch applied, we can leave it

[2012-11-22 13:55] ryao opened #19 "Detect /usr mount"
eudev should detect the /usr mount (if it occurs) and automatically process any rules that are in /usr/lib/udev/rules.d.

[2012-11-23 07:00] #3 closed, assigned to ryao

[2012-11-23 20:19] hcaulfield57 opened #21 "xf86-input-evdev fails to compile"
evdev complains about missing libudev upon compile, same issue for xorg-server. I can provide more information if you like.

[2012-11-26 03:48] #11 closed, assigned to nobody

[2012-11-26 12:07] fjaell opened #22 "wrong version in pkg-config file"
We should not use  the eudev version in libudev.pc but probably something like 195. Otherwise programs which are using pkg-config to determine the udev version will fail.

[2012-11-26 12:33] fjaell opened #23 "configure-option rootlibdir ignored"
even with a

  ./configure --prefix=/usr --rootlibdir=/lib --enable-split-usr

the udev library is installed into /usr/lib and not into /lib.

[2012-11-26 12:57] fjaell opened #24 "undefinded symbols in libudev.so"
Current git compiles just fine for me, but I'm not able to link other programs, e.g. lvm2, against it. The issue:

$:> ldd -r libudev.so
        linux-gate.so.1 (0xb77a6000)
        libm.so.6 => /lib/libm.so.6 (0xb7749000)
        librt.so.1 => /lib/librt.so.1 (0xb7740000)
        libc.so.6 => /lib/libc.so.6 (0xb7599000)
        /lib/ld-linux.so.2 (0xb77a7000)
        libpthread.so.0 => /lib/libpt

[2012-11-26 14:57] nvinson opened #25 "Configure: FALSE: command not found"
When executing the configure script the following error appears:

[code]

This appears to be caused by the line 9 in autogen.sh as changing FALSE to false causes the error message to disappear.

[2012-11-26 18:54] #21 closed, assigned to nobody

[2012-11-27 01:21] #25 closed, assigned to blueness

[2012-12-01 19:48] hcaulfield57 opened #28 "eudev Fails to Compile"
https://gist.github.com/4184499

[2012-12-02 00:40] #28 closed, assigned to nobody

[2012-12-02 00:41] #24 closed, assigned to nobody

[2012-12-02 14:56] samuliss opened #29 "ACL support was wrongly removed"
The ACL support was wrongly removed.:

https://github.com/gentoo/eudev/commit/1bbffd4f09a3715d1897e617ea83eefdcbff2c02

Because that one is adding ACL support to libudev(-core which is perfect, we just don't want the old udev-acl (<- executable!) helper back.

If you are really intrested, it goes something like this.. heh...

Around udev version ~145 came ACL support to udev. Then came about 165 t

[2012-12-02 22:28] #22 closed, assigned to blueness

[2012-12-08 08:55] hcaulfield57 opened #31 "eudev fails to compile against uclibc"
https://gist.github.com/4239359

[2012-12-12 14:24] axs-gentoo opened #33 "eudev does not consider multiple paths in / and /usr"
I discovered this while debuging why rc-hotplug was not working.

The search paths used by udev to find rules, and for the event execution environment, by default assume that UDEV_LIBEXECDIR is /usr prefixed and that UDEV_RULES_DIR is within /etc.  The "HAVE_SPLIT_USR" workaround then adds a hard-coded path to /lib/udev/, if that flag is enabled.

As neither of those #define'd paths are the way th

[2012-12-12 14:41] axs-gentoo opened #34 "eudev needs "new" udev hwdb support"
This relates to compatibility with systemd-udev and is primarly for offering proper support in the Gentoo portage tree.

systemd-udev in Gentoo Portage is above 196, which introduced this "new" hwdb functionality.  All versions between 172 and 196 (ie, everything providing libudev.so.1 but with the "old" hwdb functionality) are being dropped.

Currently eudev is "providing" udev-196 (according to

[2012-12-13 16:11] #33 closed, assigned to nobody

[2012-12-13 16:26] #23 closed, assigned to nobody

[2012-12-14 01:07] #7 closed, assigned to ryao

[2012-12-15 17:49] steev opened #35 "Permissions incorrect for /dev/null"
On a non-eudev system:

steev@oswin ~ $ ls -lah /dev/null
crw-rw-rw- 1 root root 1, 3 Dec 14 10:28 /dev/null

On eudev system:

rose ~ # ls -lah /dev/null
crw------- 1 root root 1, 3 Dec 12 21:26 /dev/null

[2012-12-17 13:43] ryao opened #36 "dracut fails to boot"
Dracut checks the version of udevadm when booting and fails if it sees our version numbers. This was reported to me by a user in #gentoo on freenode. I wrote the following patch to correct it and gave it to him. I am waiting for feedback.

[code]

[2013-01-01 01:13] kloun opened #38 "не нужно"
есть systemd.

[2013-01-01 06:10] #38 closed, assigned to nobody

[2013-01-08 09:28] TZ86 opened #40 "Build fails when glibc 2.17 is used"
When I try build eudev with latest glibc, it fails on udevd linking:

[code]

I fixes it by adding -lrt flag to libudev_core_la target: http://pastebin.com/hLfGSy9i

[2013-01-09 06:22] #40 closed, assigned to nobody

[2013-01-14 17:23] #36 closed, assigned to nobody

[2013-01-14 17:55] #35 closed, assigned to nobody

[2013-01-15 17:20] hydrapolic opened #41 "udev fails to build with glibc 2.17"
Hello,
according to https://github.com/gentoo/eudev/issues/40 this issue should be fixed, however it doesn't work for me (xen domU).

  CCLD   libudev-core.la
  CCLD   udevd
  CCLD   udevadm
./.libs/libudev-core.a(libudev_core_la-sd-daemon.o): In function `sd_is_mq':
sd-daemon.c:(.text+0x868): undefined reference to`mq_getattr'
collect2: ld returned 1 exit status
make[3]: **\* [udevd] Error 1
make

[2013-01-18 21:31] #34 closed, assigned to nobody

[2013-01-19 19:42] #29 closed, assigned to nobody

[2013-01-21 13:43] #41 closed, assigned to nobody

[2013-01-21 19:50] #18 closed, assigned to nobody

[2013-01-23 03:28] #31 closed, assigned to ryao

[2013-01-27 07:24] prometheanfire opened #42 "eudev on selinux"
seems not to build because it cannot find selinux-util.h

https://gist.github.com/4647208

build.log and env at that gist

[2013-01-28 17:15] #42 closed, assigned to nobody

[2013-01-28 21:52] #17 closed, assigned to ryao

[2013-02-02 15:35] lu-zero opened #43 "Make the build system non-recursive"
As pointed by me and as pointed again today as a snide remark by Greg+Kay+Lennart, recursive make can be nicer for people used to build a directory a time but it prevents parallel building.

I'm still convinced recursive make is bad so if nobody is against I'd change a bit it.

People against or curious should try make -j on a many-cores box and see the difference.

[2013-02-10 17:19] Jose123456 opened #45 "sys-fs/udisks-1.0.4-r4 will not build on a Gentoo x86 system"
It fails like this:

/usr/lib/gcc/i686-pc-linux-gnu/4.6.3/../../../../i686-pc-linux-gnu/bin/ld: warning: libudev.so.0, needed by /usr/lib/gcc/i686-pc-linux-gnu/4.6.3/../../../../lib/libatasmart.
so, not found (try using -rpath or -rpath-link)
/usr/lib/gcc/i686-pc-linux-gnu/4.6.3/../../../../lib/libatasmart.so: undefined reference to `udev_new'
/usr/lib/gcc/i686-pc-linux-gnu/4.6.3/../../../../lib/l

[2013-02-14 02:03] #45 closed, assigned to nobody

[2013-02-19 12:13] FRIGN opened #46 "man-makefile | docbookx; "failed to load external entity""
Making the manual fails with an xsltproc-error attempting to fetch an external entity, namely the XSL-Stylesheet at "http://www.oasis-open.org/docbook/xml/4.2/docbookx.dtd", due to the "--nonet" flag being set for xsltproc.

Removing it from man/Makefile:310 fixes this issue.

[2013-02-19 13:34] FRIGN opened #47 "mem-optimization in libudev"
Going through libudev it came to my mind if it really is neccessary to declare all needed variables at the beginning of the scope. This might not have a big impact on memory if not many functions hadn't been designed to just query device-states allocating big chunks of RAM for structs like udev_list_entry and the like (cf. libudev_device.c), discarding them right away in case the condition to be c

[2013-03-04 18:41] FRIGN opened #48 "Removing unnecessary check from libudev_device.c"
Hello,

don't worry, I won't flood you with small patches like this in the future, but want to get into submitting patches on github before doing it horribly wrong. Please tell me better ways than posting the patch-file into this issue and I'll learn from it.
So basically what this patch does is remove a small redundant check from udev_device_has_tag and making it more readable with a ternary retu

[2013-03-10 18:41] blueness opened #50 "configure.ac should only check for gperf if --enable-keymap is set"
This is gentoo bug #452760: https://bugs.gentoo.org/show_bug.cgi?id=452760

Currently I have a hack in eudev-9999.ebuild in src_configure() where

[code]

but we should just move AC_PATH_TOOL(GPERF, gperf) inside of AC_ARG_ENABLE([keymap] .... )

[2013-03-21 18:07] ssuominengentoo opened #52 "eudev code is not up-to-date with libudev from udev-196 or newer"
if this is only one thing i've checked missing, what else is missing? no offense but i've been told many times eudev should be up-to-date with at least udev-197 and now i'm seeing API from 196 missing, it doesn't exactly raise much confidence -- it doesn't meet the requirements of virtual/udev-196, let alone current stable virtual/udev-197-r1

this one is missing,

http://cgit.freedesktop.org/syst

[2013-03-30 17:06] ssuominengentoo opened #53 "Move line from 40-gentoo.rules over to git"
This is part of 40-gentoo.rules in Portage and installed with sys-fs/eudev:

SUBSYSTEM=="mem", KERNEL=="null|zero|full|random|urandom", MODE="0666"

It should be moved to eudev git because it's required for Linux 2.6.32 compability. It doesn't break new ones. I propose you put it to 50-udev-default.rules.

Otherwise people installing eudev from outside of ebuild won't get Linux 2.6.32 support.

[2013-04-02 12:06] #43 closed, assigned to blueness

[2013-04-05 14:32] udeved opened #55 "udev rules don't trigger properly"
Hi,

I am on Arch Linux, and I use a separarte /usr partition.

I compile eudev with following configuration:

[code]

I update initrd after eudev install, I boot, openrc takes over, udev-init-scripts start up, but no additional kernel modules are loaded besides the ones loaded by initrd.

It doesn't make a difference if I set "enable-split-usr", the result is the same.

The bin dirs go on root pa

[2013-04-06 07:16] ssuominengentoo opened #56 "broken rule_generator in beta3, master (???)"
The following commit is part of beta3, master:

http://cgit.freedesktop.org/systemd/systemd/commit/src/udev?id=97595710b77aa162ca5e20da57d0a1ed7355eaad

This will make it impossible to rename into kernel reserved names like eth0, eth1, wlan0, wlan1, ...

Yet the old rule_generator was brought back. How can it work if the generated rules are getting ignored?

Or are you using now different namespac

[2013-04-06 21:00] #50 closed, assigned to blueness

[2013-04-06 21:02] #52 closed, assigned to nobody

[2013-04-08 01:20] #53 closed, assigned to nobody

[2013-04-08 02:34] #16 closed, assigned to tonyvroon

[2013-04-08 02:35] #13 closed, assigned to nobody

[2013-04-08 02:36] #10 closed, assigned to nobody

[2013-04-08 02:36] #8 closed, assigned to nobody

[2013-04-08 10:00] #9 closed, assigned to nobody

[2013-04-10 18:20] #55 closed, assigned to nobody

[2013-04-11 02:29] fluxer opened #57 "slow uevents processing"
Continue from issue #55,

I tried two of the possible fixes for this issue as recommended by @blueness from http://forums.gentoo.org/viewtopic-t-955682-highlight-udev+200.html and none of them fixed the issue.

First I tried passing udev.children-max=500 as boot argument which didn't helped.

Second I tried overriding /lib/udev/rules.d/61-accelerometer.rules with an empty /etc/udev/rules.d/61-acce

[2013-04-11 02:38] #56 closed, assigned to nobody

[2013-04-19 10:37] bkauler opened #58 "ln does not support -r"
beta4 compiled ok, but failed installation. There is a bug in src/udev/Makefile:

install-exec-hook:
    if test "$(bindir)" != "$(sbindir)"; then \
        $(LN_S) -r $(DESTDIR)$(bindir)/udevadm $(DESTDIR)$(sbindir)/udevadm; \
    fi

... -r should not be there, no such option for 'ln'.

[2013-04-19 10:43] bkauler opened #59 "uname not found"
Testing beta4.
'dmesg' reports many times that "uname -r" not found.

I had to put a symlink into /lib/udev/, to the actual uname binary executable, to shut up that error message:

ln -s ../../bin/uname /lib/udev/uname

Is there some way to configure so that this error does not occur, or is this a bug?

I experimented with various configure options, this is the latest I tried:

./configure --prefi

[2013-04-19 11:48] bkauler opened #60 "Device nodes not created"
Testing beta4.

At first I thought that eudev is working, but when I plugged in a usb modem, /dev/ttyUSB0 did not get created. In fact, no device nodes get created, so sound wasn't working either.

Puppy Linux has a static /dev, hence boots up to the desktop and initially everything appeared ok. But no extra device nodes get created when new hardware detected.

This bug has been reported before:
h

[2013-04-21 22:28] #58 closed, assigned to nobody

[2013-04-29 11:55] #59 closed, assigned to blueness

[2013-06-13 10:01] #60 closed, assigned to blueness

[2013-06-16 10:48] bkauler opened #61 "Eudev not setting device node permissions/owner/group"
Firstly, just to let everyone know, Puppy Linux is now using eudev.

The first release, a snapshot, version 5.6.92 (5.7alpha1), built with Ubuntu 130.04 (Raring Ringtail) DEBs and 3.9.5 kernel, is available here:
http://bkhome.org/blog2/?viewDetailed=00294

Something that you might think very odd, Puppy has never used, or rather most puppies have never used, the official udev rules, except for one

[2013-06-18 08:46] #61 closed, assigned to blueness

[2013-06-18 09:02] bkauler opened #62 "Config option to create device nodes?"
You might not want to know about this one, or it is too difficult. If so, please just comment and close this issue.

Puppy Linux has always used a static /dev, up until now that is.

It has been a good arrangement, very fast, very simple. Both the initramfs and main rootfs have static /dev.
We used udev version 167, and after that is started, we replay many of the events from /sys, to create more

[2013-06-29 10:42] #62 closed, assigned to blueness

[2013-06-30 07:19] andrew-aladev opened #63 "write_net_rules is broken"
https://bugs.gentoo.org/show_bug.cgi?id=475276

[2013-06-30 10:29] #63 closed, assigned to nobody

[2013-07-04 19:09] ghost opened #65 "udevadm settle hangs"
I'm trying to use eudev in Parted Magic instead of pulling udev out of systemd. Everything is going well except for this. It doesn't matter what computer I try it on, it always hangs for the 120 seconds. Just for fun, I commented out the udevadm settle line and it boots normally. It didn't hang using udev from systemd-190. It's hard to say if it's just something I'm missing or a bug of some sort.

[2013-07-10 09:29] #65 closed, assigned to blueness

[2013-07-10 15:18] ghost opened #67 "/usr/sbin/udevadm symbolic link points to DESTDIR"
I just noticed that the /usr/sbin/udevadm symbolic link points to the DESTDIR, not /usr/bin/udevadm.

Lets say that I'm building the package in /sources

./configure --prefix=/usr
make
make install DESTDIR=/sources/eudev-package

/usr/sbin/udevadm points to /sources/eudev-package/usr/bin/udevadm

[2013-07-12 13:23] #67 closed, assigned to nobody

[2013-08-16 05:25] rofl0r opened #70 "xml stuff breaks build"
[code]

imo, it's bad style to depend on xml facilities to generate documentation.
even worse when it depends on some external stylesheets - making it
impossible to build without working network connection.

[2013-08-16 05:32] rofl0r opened #71 "configure check for mktime hangs for a minute"
the mktime check invokes UB: http://sprunge.us/SCId

[code]

since time_t_max is signed, this invokes UB and the loop runs forever, only to be later caught by alarm.

in any case, since mktime is not even used anywhere in eudev, the configure check can be safely removed.

[2013-08-16 06:08] rofl0r opened #73 "configure does not check for existance of kernel headers, so build fails later on"
[code]

mtd/\* are kernel headers, so configure should check for existance of mtd/mtd-user.h and provide a useful error message "error: kernel header mtd/mtd-user.h not found"

[2013-08-26 22:38] #71 closed, assigned to nobody

[2013-09-24 23:30] lu-zero opened #74 "Document where to find the tarballs"
Currently we have tarballs in http://dev.gentoo.org/~blueness/eudev/

[2013-09-26 01:18] rofl0r opened #75 "build fails when gperf is not installed"
experienced with the latest release tarball

[code]

is gperf even used somewhere ? if not the dependency should be removed

if yes, the generated C files should be distributed as part of the "make dist" process, so that the user does not need having gperf installed just to generate a single file

[2013-09-26 01:29] rofl0r opened #76 "/run is hardcoded"
it should be possible to choose it at build time

--rundir=/var/run or something like that

[2013-09-26 01:41] rofl0r opened #77 "systemd code slipped in ?"
[code]

src/libudev/log.c

[2013-09-26 15:31] #73 closed, assigned to nobody

[2013-09-26 15:35] #74 closed, assigned to nobody

[2013-09-27 21:44] axs-gentoo opened #79 ""make dist" fails due to html documentation missing"
make[2]: Entering directory `/path/to/eudev-workdir/docs'
 (cd libudev && make  top_distdir=../../eudev-1.3 distdir=../../eudev-1.3/docs/libudev \
     am__remove_distdir=: am__skip_length_check=: am__skip_mode_fix=: distdir)
make[3]: Entering directory `/path/to/eudev-workdir/docs/libudev'
make  \
  top_distdir="../../eudev-1.3" distdir="../../eudev-1.3/docs/libudev" \
  dist-hook
make[4]: Enteri

[2013-11-20 16:04] dlintw opened #82 "__NR_name_to_handle_at is not defined"
compile on native sh4  CPU.

eudev-git version: 0a6fb507
$ gcc --version
gcc (GCC) 4.7.3 20130514 (STMicroelectronics/Linux Base 4.7.3-129)

  -> Compiling...
make  all-recursive
make[1]: Entering directory `/home/dlin/prj/abs/eudev-git/src/eudev'
Making all in src
make[2]: Entering directory`/home/dlin/prj/abs/eudev-git/src/eudev/src'
Making all in libudev
make[3]: Entering directory `/home/dlin/

[2013-11-26 23:34] #82 closed, assigned to nobody

[2014-01-16 15:37] rofl0r opened #83 "several bugs reintroduced with latest upstream "merge" by just overwriting the files due to merge conflict"
i commented on single issues i saw in this commit https://github.com/gentoo/eudev/commit/b8ed8b124aaff754e244dff6930b36c192fa69e0, but chances are high that i missed some.

[2014-01-20 18:02] #83 closed, assigned to blueness

[2014-01-20 18:05] #77 closed, assigned to nobody

[2014-01-20 18:09] #57 closed, assigned to blueness

[2014-01-20 18:10] #46 closed, assigned to blueness

[2014-01-20 18:10] #47 closed, assigned to blueness

[2014-01-20 18:11] #48 closed, assigned to blueness

[2014-03-01 09:10] fjaell opened #86 "80-net-setup-link unknown"
booting with eudev 1.5 I see the following:

IMPORT{builtin}: 'net_setup_link' unknown /lib/udev/rules.d/80-net-setup-link.rules:11

[2014-03-04 14:32] #86 closed, assigned to nobody

[2014-03-10 16:50] balducci opened #87 "commit 80b10107cb2703d63fb14c90e2be442c0724836d breaks build with linux headers 3.13"
hello,

I have been pointed here by the committer:

[code]

Apparently, the above commit breaks eudev build for me

Running glibc-2.18 with 3.13.2 kernel headers:

GNU C Library (GNU libc) stable release version 2.18, by Roland McGrath et al.
Copyright (C) 2013 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.
There is NO warranty; not even for MERCHANTAB

[2014-03-22 22:41] #87 closed, assigned to nobody

[2014-04-02 10:57] elebihan opened #92 "Redefinition of nsec_t and usec_t"
When trying to build eudev for PowerPC with GCC 4.5.2, the compilation fails:

In file included from cgroup-util.c:30:0:
path-util.h:23:18: error: redefinition of typedef 'usec_t'
util.h:41:18: note: previous declaration of 'usec_t' was here
path-util.h:24:18: error: redefinition of typedef 'nsec_t'
util.h:42:18: note: previous declaration of 'nsec_t' was here

There is a warning in src/libudev/ut

[2014-04-04 23:25] #92 closed, assigned to nobody

[2014-04-22 18:20] ghost opened #93 "respect libdir in rootlibexecdir"
Hi and thanks for a great piece of software that we use here at 0Linux.

udevlibexecdir is the only variable that is hardcoded to lib/udev. It should respect the distro's libdir of choice and can be a problem under multilib capable systems (as 0Linux) which use /usr/lib, /usr/lib64, etc. to separate ABIs.

in configure.ac:

[code]

So in configure we'll have:

[code]

A simple:

[code]

...made it

[2014-06-23 04:26] ssuominengentoo opened #94 "Use 80-drivers.rules always, instead of renaming it to 80-drivers-modprobe.rules"
This is a duplicate of, http://bugs.gentoo.org/509624

Opening one here, because I believe it's eudev who should change it's code to have 80-drivers.rules generated from .in so it content changes depending on ./configure flags and not rename the file to 80-drivers-modprobe.rules for better compability with orig.
udev as every initramfs tool expects 80-drivers.rules, and this 80-drivers-modprobe.ru

[2014-06-25 09:01] #93 closed, assigned to nobody

[2014-06-28 16:04] msoltyspl opened #95 "q: plans when udev becomes systemd-only ? (after kdbus merge)"
Hi,

This is question regarding following mention I found on systemd mailinglist:

"Also note that at that point [kdbus merge] we intend to move udev onto kdbus as
transport, and get rid of the userspace-to-userspace netlink-based
tranport udev used so far. Unless the systemd-haters prepare another
kdbus userspace until then this will effectively also mean that we will
not support non-systemd syst

[2014-07-06 12:34] #94 closed, assigned to nobody

[2014-08-17 16:54] codisto opened #97 "make failure /udev-util.h:22:18: fatal error: udev.h: Datei oder Verzeichnis nicht gefunden"
Hi,
i want build today 2014-08-17 eudev on debian jessie. I have make the followings:
-- git clone https://github.com/gentoo/eudev
-- cd eudev/
-- ./autogen.sh
-- ./configure
-- make
and then i  got:

In file included from scsi_id.c:39:0:
../../src/shared/udev-util.h:22:18: fatal error: udev.h: Datei oder Verzeichnis nicht gefunden
 #include "udev.h"
                  ^
compilation terminated

Can

[2014-08-19 14:05] #97 closed, assigned to nobody

[2014-10-29 17:15] bdubbs opened #98 "man page issues"
I really have two issues here.

First, shouldn't references to systemd be removed from the eudev man pages?

Second, it would be helpful for Linux From Scratch if, like most projects, the rendered man pages were included in the release tarballs.  We do not have the rendering tools available when eudev is installed and have to distribute a separate tarball with the man pages.

[2014-11-01 17:19] #98 closed, assigned to nobody

[2014-11-01 18:38] #70 closed, assigned to nobody

[2014-11-06 11:02] AleksandrPU opened #100 "Unbind eudev of btrfs"
Starting with version 1.10-r2 eudev requires header btrfs.h. But kernel version 3.4 there is no such header. eudev-1.9-r2 is marked as unused. Can I somehow decouple from eudev btrfs.h?
$ uname -a
Linux cumini 3.4.104-sun7i-1 + # 1 SMP PREEMPT Fri Sep 26, 2014 00:13:50 IRKT armv7l ARMv7 Processor rev 4 (v7l) sun7i GNU / Linux

[2014-11-16 18:39] #100 closed, assigned to nobody

[2015-01-16 00:26] emanueLczirai opened #101 "test 61 fails because 'mail' group doesn't exist on host(hardened uClibc)"
[code]
https://github.com/gentoo/eudev/blob/d7447bb0baa871b5866785ed3ecdfdc35976d458/test/udev-test.pl#L591

To reproduce, with stage3-amd64-uclibc-hardened-20150105.tar.bz2 (chrooted from installCD install-amd64-minimal-20141204.iso)
`FEATURES='test' emerge -a '>=sys-fs/eudev-2.1'`
[ebuild     U ~] sys-fs/eudev-2.1.1 [1.10-r2] USE="{test*}"

this passes correctly if I do: `groupadd mail` before e

[2015-01-19 21:31] blueness commented on #101
Thanks for the report.  This is probably one of those failures we can live with.  I don't want to add a mail group to the stage3 and I don't want to remove the test because most systems have a mail group.  Let's just leave this issue open as a reminder of the issue.

[2015-01-20 08:23] tseeker opened #102 "Build fails in src/ata_id"
Compilation fails on src/ata_id/ata_id.c due to missing headers:

    In file included from ata_id.c:50:0:
    ../../src/shared/udev-util.h:22:18: fatal error: udev.h: No such file or directory
     #include "udev.h"

[2015-01-21 12:14] blueness commented on #102
I see your point here, but I'm just not hitting a compile error. Can you tell me how you are building so I can see why you hit the problem and I do not.

[2015-01-21 14:10] tseeker commented on #102
I've tried building it using:

    ./autogen.sh
    ./configure --with-rootprefix= --with-rootlibdir=/lib/x86_64-linux-gnu --with-rootlibexecdir=/lib/udev --exec-prefix=/ --enable-split-usr --disable-selinux --enable-libkmod --enable-introspection --enable-gtk-doc
    make -j4

Since that didn't work, I also tried running the configure script with no options, and the make with just 1 job. Full cle

[2015-01-21 15:04] fluxer commented on #102
@blueness
The issue is reproducable on systems where udev.h is not in the system headers path, e.g. /usr/include/udev.h is not present.

I have not tested the patch from #103 but I guess it will fix the problem.

[2015-01-21 23:07] blueness commented on #102
@fluxer
Doh!  Obviously that's why I'm not hitting it.  I'll merge the pull request now.

[2015-01-21 23:11] blueness commented on #102
@tseeker.  Thanks.  Please test and let me know if anything else is wrong.

[2015-01-21 23:11] #102 closed

[2015-01-24 09:39] pseiderer opened #106 "eudev-2.1.1 build failure: undefined reference to `mkostemp'"
eudev-2.1.1 fails to compile with buildroot/uclibc ([1]):
./.libs/libudev-core.a(util.o): In function `mkostemp_safe':
util.c:(.text+0x2950): undefined reference to `mkostemp'
collect2: error: ld returned 1 exit status

Fixed by not only protecting the call to the mkostemp wrapper mkostemp_safe
with HAVE_DECL_MKOSTEMP but although the wrapper himself (see patch [2]).

Regards,
Peter

[1] http://au

[2015-01-25 19:12] blueness commented on #106
Okay I committed this with a cleaned up commit message.  Note the uClibc does provide mkostemp() [1] and mkostemp64() [2]   I should know because I recently fixed up their implementation with respect to O_CLOEXEC.  Either you're using an older release of uClibc or somehow you're configuring it without mkostemp() --- although I don't see how.  You really want mkostemp() rather than mkstemp() to avo

[2015-01-25 19:12] #106 closed

[2015-01-25 19:14] blueness commented on #106
Oh just one more point.  Try to make github pull requests rather than cutting and pasting the patch in the bug report.  It avoids whitespace damage and fits githups workflow.

Thanks for the report and fix!

[2015-01-25 19:28] fluxer opened #107 "Highlights on changes done between releases"
It would be nice to have some sort of notable changes done from release to release listed somewhere, either via NEWS, ChangeLog, whatever in the repository or at least on the releases page at github. This is just for convinience, for an example I've learned from other sources[1] that eudev v1.8 requires the input group. For packagers this means less time spend on scoping trogh the git log to look

[2015-02-02 18:18] blueness commented on #107
I hear you.  I have the luxury in gentoo that ssuominen follows systemd-udev and makes all those chnages for me.  I can add an important news item for distros like crux which need to know if they need new groups, if things are changing directories etc.

[2015-03-20 13:52] fjaell commented on #75
in eudev 3.0 the configure option --disable-keymap has been removed, so it's no longer possible to bypass the gperf issue.
That means eudev depends on gperf now! Not very nice, would be really helpful if we could find a way to avoid this.

[2015-03-20 21:07] fluxer opened #108 "problems with eudev in initramfs and userspace"
Using eudev in both initramfs and userspace here. All was fine until I upgraded to 2.1.1 from 1.10 and starting udevd from the initscripts just hangs the system. I've tried to find the reason and seems to be some sort of conflict between udevd from the initramfs and udevd from userspace because when I try to start it from userspace with `--debug` it pops some errors about failing to bind address w

[2015-03-21 02:15] bdubbs opened #109 "Installing man pages"
Using the new eudev-3.0 tarball, I see the pre-built man pages are present.  That is very good.  Thanks.  It is helpful for LFS.

However there is a minor install issue.  The man pages are not installed as a part of 'make install'.  Granted, the only thing that needs to be done is

pushd man; make install-man7 install-man8; popd

But it would be nice if that was done as a part of 'make install'

[2015-03-21 02:26] bdubbs opened #110 "Spurious message: error opening USB device 'descriptors' file"
Using either eudev 3.0 or 2.1.1, there is a spurious message on the console when removing a USB thumb drive and I suspect other USB devices:

error opening USB device 'descriptors' file

This message is in src/udev/udev-builtin-usb_id.c in the function dev_if_packed_info()

What appears to be happening is that the operating system is removing /sys/block/sdc (in my test case) before the call to dev

[2015-03-21 02:43] bdubbs commented on #110
I have a suggested fix for this.  In 50-udev-default.rules, move the line:

ACTION!="add", GOTO="default_permissions_end"

up three lines so it is before the invocation of IMPORT{builtin}="usb_id".

[2015-03-22 15:30] blueness commented on #75
Good point.  Right now I have to follow upstream more closely for the kdbus cuttover, so I'm been dropping some of the legacy stuff.  I wasn't thinking of gperf dependency.

Any suggestions?

[2015-03-22 19:02] blueness commented on #110
Can you try the latest git head and see if you're getting the same error.  There were some changes between 3.0 and head.

[2015-03-22 20:46] blueness commented on #109
agreed i'll definitely have it fixed for the next release.

[2015-03-23 08:48] yegorich opened #111 "Make an option to disable hwdb.d installation"
hwdb.d installation occupies about 5Mb disk space. For some small embedded projects, especially, when run from a NAND flash, it is a huge overhead. It would helpful to have a configure option to disable hwdb.d installation.

[2015-03-23 12:23] blueness commented on #108
Yeah, capturing output from a daemon is wrong.  Can't you use the logs?

[2015-03-23 12:32] blueness commented on #111
I'll see what I can do for the next release.

[2015-03-23 13:48] fluxer commented on #108
I'm unaware of udev logging somewhere but in any case that's not exactly what my initscripts try to do (printing individual programs logs), they try to capture stdout as well as stderr and print every line of it with prefix so it becomes something like this:

[code]

The star is supposed to be colored either dark blue or dark red depending on the exit status of the command and the prefix is to be

[2015-03-26 18:44] blueness commented on #108
Sorry for the delay.  (real life).  udevd writes to stderr which you cannot capture with output=$(...).   Rather, you need to do something like output=$(udevd --daemon --debug 2>&1).  To convince yourself, play with this program:

[code]

The run

[code]

Let me know if this solves your problem.

[2015-03-26 19:10] fluxer commented on #108
No, it does not. In my initscripts both stdout and stderr are captured and the problem is not this. The problem is that if an attempt to capture stdout of udevd, `--daemon` has no effect and the process does not fork.

[2015-03-26 23:03] blueness commented on #108
Ah okay.  Is this a changed behavior from the previous release?

[2015-03-26 23:14] fluxer commented on #108
Yes, that was not the case with 1.10 but is with 2.1.1.

[2015-03-30 22:52] blueness commented on #76
this has been addressed

[2015-03-30 22:52] #76 closed

[2015-04-18 00:12] lzto opened #114 "udevadm settle stuck"
Hi,

I am using sys-fs/eudev-1.10-r2 kernel-3.18.2 and kernel-4.0.0. The system stuck at "waiting for uevents to be processed",  I can cut it by typing Ctrl-C and continue to boot the system.

After the system booted, I try to start the udev service manually, it can succeed fairly quickly.

If I set udev_settle_timeout=5 in /etc/conf.d/udev, it still behaves in the same way.(no effect?)

I examine

[2015-04-18 22:13] williamh commented on #114
In the next release of udev-init-scripts, which is shared between eudev and udev, I will be setting up the settle option to be in a separate service which will not be run by default, but other services that need it will be able to use it.

[2015-04-20 03:24] dalek1967 commented on #110
Regular Gentoo user here.  I get the same thing even if I don't remove anything USB.  I'm using sys-fs/eudev-3.0.  It's been doing this for a while and it is annoying when I'm trying to type in a command and this message pops in the middle of my slow typing.  :/

[2015-04-24 11:55] blueness commented on #110
I will be looking at this issue before the next release.  The jump to 3.0 was rough.

[2015-05-18 06:35] anto opened #115 "Version compatibility mapping between eudev and udev"
Dear eudev maintainers,

I am quite new to eudev as I have just started to try it on my Debian wheezy install. So I am sorry if this shall be quite obvious. But I fail to find information about the version compatibility mapping between eudev and udev. Due to the versions differences between eudev and udev, this information is especially important when we need to compile packages requiring udev, so

[2015-05-19 21:52] blueness commented on #115
Take a look at the top few lines of configure.ac:

<pre>
AC_PREREQ([2.68])
AC_INIT([eudev],[3.0],[https://github.com/gentoo/eudev/issues])
AC_SUBST(UDEV_VERSION, 219)
AC_CONFIG_SRCDIR([src/udev/udevd.c])
</pre>

Hoever this information is only really in sync for a release.  On git head you should read this more as eudev version 3.0+ = udev verison 219+ where the + means "that release plus all othe

[2015-05-20 06:17] anto commented on #115
Thanks blueness. I knew that it must be that obvious, but I failed to look at it. :)

I am using your eudev on my PC that I am using now to write this comment, which is still running using mostly Debian wheezy packages. It is still at eudev 1.9 though which source I got from https://git.devuan.org/jaretcantu/eudev. So that is why I would like to try to update that to at least eudev 3.0 on your tar

[2015-05-20 06:17] #115 closed

[2015-05-22 14:09] anto commented on #110
I am not sure if this would be helpful, but I am sure this is relevant to the issue reported here.

I also experience this issue after the upgrade from eudev-1.9 to eudev-3.0 which source I took from the tarball site. So the issue does not happen on eudev-1.9.

I am using eudev on my Debian PC and it shows me the same message as reported by the OP, on my terminal every time I unplug USB device. I

[2015-05-23 18:22] anto commented on #110
I just pulled the latest commits, updated the Debian specific patches, compiled, then installed eudev and I do NOT see the same message any more every time I unplug any USB devices.

[2015-05-30 12:29] blueness commented on #109
the problem was AC_ARG_ENABLE([manpages],...) was wrong so that both --disable-manpages and --enable-manpages would disable them, while giving no option would enable them.  This has been fixed, with the default being --disable-manpages if no option is given.

The fix is commit 047416ff0f9ea822d6fdc3dabb4039f2ebcdab77

[2015-05-30 12:29] #109 closed

[2015-05-30 12:33] blueness commented on #107
release 3.1 fixed --{enable,disable}-manpages.  manpages are now NOT installed by default if no option is given.  a not to package maintainers.

[2015-05-30 12:39] blueness commented on #114
@williamh a quick peek at udev-init-scripts-9999 and I don't see any 'sleep 1' or other implementation to address this issue.

[2015-05-30 12:51] blueness commented on #111
Okay, --{enable,disable}-hwdb was added in commit ebb37f6a47f64314a81b40e3befbe3fc9ced8f4a.  The default is --enable-hwdb since most people will want that.  The new feature will be out in 3.1 which should be available in a day or so.

[2015-05-30 12:51] #111 closed

[2015-05-30 12:54] blueness commented on #107
release 3.1 adds --{enable,disable}-hwdb which will optionally install the files in /etc/udev/hwdb.d.  The default is to install them since most people will want that.  --disable-hwdb is useful for embedded systems that want to save 5MB of space.

[2015-05-30 12:56] blueness commented on #110
this should be fixed in eudev-3.1 which will be out in a day or so.  please test and let me know.

[2015-05-30 15:38] anto commented on #110
As I wrote 7 days ago, the issue that I experienced has actually already been fixed by the commits up to 7 days ago. But I only tested on my 2 desktops and 2 VPS' (amd64 and i386 architectures) that are using Debian distro. So I am not sure if that would fixed on other setups.

[2015-06-01 18:06] axs-gentoo opened #117 "eudev-3.1 missing 80-net-name-slot.rules, won't rename ifaces"
Because eudev doesn't implement the net-setup-link module, without 80-net-name-slot.rules (or integration of this rules file's contents into 75-net-description.rules) eudev-3.1 won't rename interfaces with the persistent name as calculated by the net_id builtin.

Simplest fix would likely be to continue distributing the 80-net-name-slot.rules file, thus allowing the old /etc/udev/rules.d symlink-t

[2015-06-02 10:11] blueness commented on #117
Thanks, I already got that report from several angles!  I'll be pushing out 3.1.1 with the fix in a bit.

[2015-06-02 10:13] blueness commented on #110
Thanks, please reopen if this is still a problem.

[2015-06-02 10:13] #110 closed

[2015-06-02 10:15] blueness commented on #108
Because of time constraints, I haven't been able to trace down the commit.  If you can find where the issue started, I'll see what I can do.

[2015-06-02 11:08] fluxer commented on #108
OK, I will start testing different releases (between 1.10 and 2.1.1) and then attempt to bisecting the commit. On a second thought, maybe I should give a shot to 3.0/3.1 first?

[2015-06-02 12:22] blueness commented on #108
You can.  There was some upstream daemon rewriting.

[2015-06-03 14:02] floppym commented on #114
The problem requires better diagnosis; adding `sleep 1` is just a kludgy workaround and should not be considered a long-term solution.

[2015-06-05 14:37] blueness commented on #117
This is fixed as of git head and will be out in 3.1.1 which I'm preparing now.

[2015-06-05 14:37] #117 closed

[2015-06-05 16:30] fluxer commented on #108
b2399d9b seems to be the cause, all releases after that commit are affected.

[2015-06-06 21:44] MorLipf opened #118 "Custom hwdb file no longer used by eudev 3.1.1"
I am using a custom hwdb file for remapping some keys of my notebook's (Dell XPS 15) keyboard:

keyboard:dmi:bvn*:bvr*:bd*:svnDell*:pnDellSystemXPS*:pvr*
 KEYBOARD_KEY_85=prog1
 KEYBOARD_KEY_84=prog2

This file works fine with eudev 3.0. After the upgrade to version 3.1.1 this file seems no longer to be respected by udev. Re-applying the command "udevadm hwdb --update" has no effect.

Is this a bu

[2015-06-08 11:46] blueness commented on #108
@fluxer  Thanks!  Let me think about how to deal with this because we really don't want a daemon spewing output all over the place.  I'm thinking about restructuring the flags so that this is an option for you.  Would that work?

[2015-06-08 11:50] blueness commented on #118
The problem is that `keyboard` was replaced by `evdev'.  Take a look at 60-keyboard.hwdb as a model.  Let me know if you still have a problem after that.

[2015-06-08 12:47] fluxer commented on #108
@blueness Take a look at https://github.com/gentoo/eudev/blob/master/src/udev/udevd.c#L1194, please. The descriptors are not closed, only duplicated. I propose the following patch:

[code]
I can open a pull request if you want.

[2015-06-08 16:49] MorLipf commented on #118
I missed that point. Now it is working again. Thanks!

[2015-06-08 16:49] #118 closed

[2015-06-17 23:45] floppym commented on #108
@fluxer stdout/stderr are sent to /dev/null; closing them is generally a bad idea because many programs assume they are open on startup (think of udev rule helpers).

[2015-06-18 00:50] fluxer commented on #108
@floppym I knew I was missing something, it didn't made sense to me at first when I saw the code because daemonizing requires closing the descriptors in use.

Reading docs about dup2 doesn't help much as some state that dup2 does not close the original descriptor and some state that it does indeed close (in some cases), in what conditions the second applies I have no idea but I have not dig deep.

[2015-06-18 00:58] floppym commented on #108
I don't know what documentation you are reading, but dup2 always closes any existing file descriptor before replacing it. In fact, this is guaranteed to happen atomically.

From `dup2(2)`:

[code]

[2015-06-18 10:42] fluxer commented on #108
And from the same man page:
`If oldfd is a valid file descriptor, and newfd has the same value as oldfd, then dup2() does nothing, and returns newfd.`

I was cross-referencing with this one: http://pubs.opengroup.org/onlinepubs/009695399/functions/dup.html which states:
```If fildes is a valid file descriptor and is equal to fildes2, dup2() shall return fildes2 without closing it.```

But anyway,

[2015-06-18 13:47] chris2553 opened #119 "fix REMOVE processing in eudev"
I've recently built eudev-3.1.1 from the source tarball and found that it has a minor bug that was fixed in systemd after the code cut was vut.

The bug is to do with when devices are removed. I don't know the full effect of the bug, but for sure one problem was that, whilst the device nodes in /dev where deleted, any symlinks that were created when the device was added were not deleted on removal

[2015-06-18 16:38] blueness commented on #108
For the next release, a simple revert of our b2399d9 or upstream's 5c67cf2, is sufficient.  In the future I may make use of the code from terminal-util.c as they do in upstream's 40e749b.

Please test and let me know if this works for you.  I'll be pushing out 3.1.2 in a few days.

[2015-06-18 16:38] #108 closed

[2015-06-18 17:01] fluxer commented on #108
It does, much appreciated.

Cheers!

[2015-06-18 17:28] blueness commented on #119
Ouch.  That patch is almost impossible to read just pasted like that.  Take a look at "mastering markdown" for how you can make sure everything is nicely formatted.  Also read up on pull request.

Anyhow thanks for the patch.   It is correct and will be out in 3.1.2.  Please test.  Also, can you give me a use case that demonstrates the  dangling sym link problem.  How did you hit it?

[2015-06-18 19:22] chris2553 commented on #119
On 06/18/15 18:28, blueness wrote:

I'm sorry, but it's getting more difficult by the day for an ordinary Linux user like myself to give a little back to
developers by identifying fixes for problems I encounter and sending them on to the project. When I first started using
Linux-based systems for my home computing about 15 years ago, developers simply took patches and passed back their
thanks. Ove

[2015-06-18 21:00] floppym commented on #108
@fluxer: Just to bring that dup2 conversion to a close:

oldfd is the file descriptor we get from `open("/dev/null", O_RDWR)`, which is guaranteed to be an unused file descriptor. newfd is either STDOUT_FILENO (1) or STDERR_FILENO (2). In theory, oldfd could be either 1 or 2 if stdout or stderr were already closed when we called `open`; in that case, there is no need close them again!

So basicall

[2015-06-19 16:40] blueness commented on #119
This should be fixed in 3.1.2 coming out in the next couple of hours.  Reopen if this problem shows up again.

[2015-06-19 16:40] #119 closed

[2015-07-01 01:36] ShadowKyogre opened #120 "The Wacom CTH-460 is not a joystick (likely applies to other tablets)"
The culprit code: https://github.com/gentoo/eudev/blob/10647c881b4d2740a226cb954cf4b91c6e462907/src/udev/udev-builtin-input_id.c#L173-L184

My attempt at fixing it with the udev rules generated with libwacom's ```generate-udev-rules```: https://gist.github.com/ShadowKyogre/3e3b4d347f71a97a1956#file-99-fix-wacom-really-rules-L138-L141

Here's the mailing list indicator indicating the issue with ude

[2015-07-01 02:10] ShadowKyogre commented on #120
https://gist.github.com/ShadowKyogre/3e3b4d347f71a97a1956#file-udev-my-tablet-is-not-a-joystick-txt Here's the output of ```udevadm monitor -p```

[2015-07-01 15:48] ShadowKyogre commented on #120
Did some more research and it turns out it's a kernel bug. I found this out by killing udev and noticing the phantom joystick was still being created: https://gist.github.com/denilsonsa/978f1d842cf5430f57f6

[2015-07-20 12:42] blueness commented on #79
laziness pays off.  gtk-docs is gone upstream and commit 1b6370e removes it from eudev.

[2015-07-20 12:42] #79 closed

[2015-07-20 12:43] blueness commented on #120
So I don't think there's anything for eudev to do here.

[2015-07-20 12:46] blueness commented on #107
In the next release 3.2, libgudev has been broken out.  See https://wiki.gnome.org/Projects/libgudev.
Also gtk-docs has been dropped.

[2015-07-20 12:48] blueness commented on #114
@floppym, I don't know if the original reporter is still experiencing this, but it might be possible to log strace -p and see what eudev is up to during that 1 second.  Any ideas on how to do that?

[2015-07-20 12:49] blueness commented on #95
I don't know what else to say on this bug excep that we are aware of the kdbus work and we'll have to deal with that when the time comes.

[2015-07-20 12:49] #95 closed

[2015-07-20 16:08] floppym commented on #114
udevd does not create a pidfile, so I do not see an obvious way to get a pid to pass to strace.

[2015-07-20 18:46] ShadowKyogre commented on #120
Yeah ^^;. I noticed that belatedly. I'll go ahead and close it.

[2015-07-20 18:46] #120 closed

[2015-07-23 16:57] anto opened #121 "dmesg shows a lot of "udevd[xxx]: worker [xxx] is unknown, ignoring" messages"
After merging the commits newer than commit c9ed0f0dc661d272d296276fdfb10e60ab278409 (except commit 1b6370e74bd6927a5c594210cd6728feda9c4616, 252150e181c58c5ae58ffac144971767df9921f7, 3df635050b4068089d5477b9423de06c6a39bdee and 2cf24b397833998869718043fb000013b1a43832), every time after I reboot my PC dmesg shows ***udevd[xxx]: worker [xxx] is unknown, ignoring*** messages as below which does not

[2015-07-25 21:09] anto commented on #121
I have just merged all 33 new commits and dmesg still shows a lot of "udevd[xxx]: worker [xxx] is unknown, ignoring" messages. This confirms that the problem is not because I excluded the 4 commits that I previously mentioned.

It would be great if somebody could give me suggestions to practically debug this. Because debugging this issue by cherry-picking individual commit, compile, install and re

[2015-07-25 23:17] fluxer commented on #121
75e930ed seems to be the cause, I have not done any testing to confirm this but it pops the same message you describe. Hope this helps.

Cheers!

[2015-07-26 02:30] anto commented on #121
Thanks a lot fluxer for the hint.

I can confirm that commit 75e930ed64b62ac7e684cbe3493963371904d55b is to blame for this problem. After deleting this particular commit, recompiling, installing and rebooting my PC, I don't see the message anymore on dmesg output.

It would be better if we could get better information about the untracked worker, so we could take relevant actions. Unfortunately, I

[2015-08-23 17:43] lzto commented on #114
I have updated to kernel-4.1.6 and eudev-3.1.2, the problem does not appear anymore.

[code]

[2015-08-23 17:43] #114 closed

[2015-09-11 18:47] blueness commented on #121
sorry for the delay, real life.  i see what's going on and yeah we need to revert that.  usptream had clearly gone in a direction we can't follow, so ...

[2015-09-11 18:52] blueness commented on #121
Please test and reopen if this is still a problem.

[2015-09-11 18:52] #121 closed

[2015-12-26 20:22] ketilwright opened #128 "make check fails Can't exec "tree""
I am building eudev as part of LFS 7.8, and receive the following test failure(s).

Perhaps this should be expected, as tree is not available (yet).

FAIL: udev-test.pl
==================

udev-test will run 137 tests:

TEST 1: no rules
device '/devices/pci0000:00/0000:00:1f.2/host0/target0:0:0/0:0:0:0/block/sda' expecting node/link 'sda'
failed to mount / as private: Invalid argument
add:

[2015-12-28 14:30] blueness commented on #128
This is not a bug.  If you don't have `tree` available, then system('tree', ....) is going to fail.  I would update the LFS docs and just alert the user to this fact.  But there is nothing for me to do here.

[2015-12-28 14:30] #128 closed

[2016-02-09 10:24] barmalej2 opened #129 "util.c:undefined reference to 'ppoll' on arm 2.6.31.8"
Building eudev on Zyxel NAS (armv5tel GNU/Linux, kernel 2.6.31.8, uClibc-0.9.33.3) leads to error:

ppoll syscall was introduced since 2.6.16 kernel, but support for arm was added only since 2.6.32 kernel. ZyXel NAS owners has no ability to update kernel, without loosing warranty for device. I would much appreciate, if it would be possible to implement fallback mechanism to poll () or epoll_wait (

[2016-02-15 16:00] blueness commented on #129
I can implement a ppoll_fallback() the way I did for accept4(), but it won't be atomic.  The man page for poll() shows a non-atomic implementation of ppoll() but it uses pthread_sigmask() but it might be okay to use sigprocmask().  If I produce a patch, will you be able to test it?  I feel mostly uncomfortable about the non-atomicity, but if the kernel doesn't have the ppoll syscall, I don't know

[2016-02-16 11:49] barmalej2 commented on #129
I can build eudev with your patch and run make tests. Further testing steps of your possible patch is unknown for me. If you have some special test scenario for it, then just let me know.
Regarding "atomicity", I can live without it. Most important for me is correct eudev functioning.

[2016-03-05 20:53] MrDini123 commented on #129
Up! I'm interested too! :)

[2016-03-07 06:02] miroR opened #130 "testing eudev not detecting missing udev-init-scripts dependency"
Pls. look up the Gentoo Forums topic:
~amd64 eudev not detect missing udev-init-scripts dependency
https://forums.gentoo.org/viewtopic-t-1040132-highlight-.html
and let me know if any more info is needed.

[2016-03-07 12:29] miroR commented on #130
False issue. I just figured out I had udev-init-scripts in the:
package.mask
and
package.provided
See:
https://forums.gentoo.org/viewtopic-t-1040132.html#7888914
Really sorry to have bothered here.

[2016-03-16 06:31] #130 closed

[2016-03-17 10:33] blueness commented on #129
Okay I wrote some poc to convince myself a ppoll_fallback() would be okay and I'll include the code over the weekend.  It is, unfortunately, demonstrably racey, but if you don't have ppoll() then you just have to live with the risk.

[2016-03-21 15:43] blueness commented on #129
This should be fixed in the latest git master.  Please test and reopen if you still have issues here.

[2016-03-21 15:43] #129 closed

[2016-04-07 05:52] barmalej2 commented on #129
Just wanted to thank you blueness for effort. Now (e)udev builds fine and works perfect.

[2016-04-10 09:34] blueness commented on #129
sorry for the dealy, real life.  report any wierdness that may be related.

[2016-05-09 02:59] ottre opened #132 "Long startup delay on some newer laptops with bluetooth"
antiX is reporting a bluetooth issue [here](http://forum.mepiscommunity.org/viewtopic.php?t=39914).

I don't know the details, but I can say that antiX is the only Debian-based distribution using eudev. Devuan has made it clear they will not be using eudev.

Since Debian is enormously popular (ranked #2 on distrowatch), I think it's worth contacting them to reproduce and fix the issue.

[2016-05-09 06:04] BitJam commented on #132
I had the problem on a Dell XPS-13 with Intel skylake.   I know others had the problem on other systems.  It was the standard  annoying 1-minute delay that used to occur with udev a few years back.  In addition, I couldn't figure out how to enable logging so I couldn't track down the problem further.  For me the only fix that worked was to go back to udev.  IIRC, removing bluetooth software did no

[2016-05-09 06:05] ottre commented on #132
antiX uses a custom kernel with CONFIG_FW_LOADER_USER_HELPER=y.

I wonder if [adding a stub to always fail firmware loading](http://article.gmane.org/gmane.linux.embedded.yocto.meta-ti/7775/) would fix it.

If so, maybe we just need to improve the documentation?

[2016-05-09 07:08] ottre commented on #132
60 seconds is the default user-loading timeout, try running "cat /sys/class/firmware/timeout".

[2016-05-09 09:00] blueness commented on #132
This is the first I'm seeing of this report.  It sounds like a newer device, that's responsible but the above report didn't really pin point it.  I'll update the hwdb and test a new release.  Can you guys test that?

[2016-05-09 12:30] dolphinoracle commented on #132
also present with antiX on lenovo s21e laptop.

[2016-05-11 09:22] blueness commented on #132
@dolphinoracle @ottre I've pushed some updates to the hwdb and rules, can you test them?

[2016-05-28 13:14] udeved commented on #107
Do you know if systemd follows the libudev split with 230 @blueness ?
As it is atm, arch linux only have one bundled libsystemd blob, and it would be pretty messy, if this remains.

[2016-05-28 13:19] udeved commented on #107
Forget about my question, I over read lib-g-udev, and read libudev.
libgudev has been split out.

[2016-05-28 14:05] fbt commented on #107
@udeved if you want to have a split libsystemd package, look at libsystemd-standalone in AUR. It has all the components split into separate packages, including libsystemd-udev. I would also not mind feedback on the package :)

[2016-05-28 14:32] udeved commented on #107
The trouble is, there is no libudev interface in the arch PKGBUILDs.

We can discuss it, I'll create an issue in package-openrc, so to keep this issue clean.

[2016-06-03 08:03] blueness commented on #132
@dolphinoracle @ottre can you test eudev-3.2

[2016-06-03 15:26] dolphinoracle commented on #132
@blueness - we are checking it out.  Will advise once I have it installed on the particular machine in question.

[2016-08-26 22:48] Geyup opened #135 "Triggering Udev Events Hangs On Cold Start..."
This was originally happening with Udev, but now Slackware 14.2 has swithced over to eudev, I wanted to report this issue here, in hopes of a fix, or solution...

https://bugzilla.kernel.org/show_bug.cgi?id=119411

thanks

[2016-08-27 07:09] blueness commented on #135
I read that bug report and I don't think its a udev/eudev bug.  It sounds like some flaky hardware issue.  Without anymore information this bug report is going to be dead in the water.

[2016-08-27 07:09] #135 closed

[2016-08-28 00:06] Geyup commented on #135
This sounds like you're guessing without any leg work troubleshooting...

Flaky hardware hasn't been determined, and I don't even know, nor have I found anyone that does know how to trobuleshoot this issue, to determine flaky hardware, or if it's really a bug.

So if you really know a way in which this can be done, to actually determine if it's truly not just my hardware, or truly not a udev/eudev

[2016-08-28 18:37] blueness commented on #135
if you think its the kernel, do a git bisect and find what commit introduced the problem.  its not udev.

[2016-08-28 22:51] Geyup commented on #135
I'd like to be able to figure out, if possible how to look what's happening with the below commands, when it comes to these at bootup, to see what's causing it to hang, rather then a bisect...

 # Since udev is just now being started we want to use add events:
          echo "Triggering udev events:  /sbin/udevadm trigger --action=add"
          # Call udevtrigger and udevsettle to do the device c

[2016-08-29 09:55] EvaSDK commented on #135
bissecting the kernel is really the fastest way to know what caused the problem to appear if you think this is kernel related. It seems hard but it really isn't that much. A lot less hassle than trying to workaround it in my opinion.

[2016-08-29 15:40] migtavares opened #136 "no db file to read /run/udev/data/+power_supply:BAT1: No such file or directory"
This is most likely not a real issue but a missing config.
My eudev keeps logging:
`Aug 29 17:31:35 aelos2 kernel: udevd[1592]: Validate module index
Aug 29 17:31:35 aelos2 kernel: udevd[1592]: seq 21127 queued, 'change' 'power_supply'
Aug 29 17:31:35 aelos2 kernel: udevd[1592]: seq 21127 forked new worker [25050]
Aug 29 17:31:35 aelos2 kernel: udevd[25050]: seq 21127 running
Aug 29 17:31:35 aelos

[2016-12-11 22:50] blueness commented on #107
highlight for v3.2.1 - fixes build against glibc-2.23.  i'm testing now and will push the tagged release once the test is finished.

[2016-12-21 14:17] 10ne1 opened #138 "configure.ac: add option to disable mtd_probe"
I've created a pull request for this as per the contributing documentation. See PR #137

[2016-12-21 19:28] blueness commented on #138
looks good to me.  its merged.

[2016-12-21 19:28] #138 closed

[2017-01-12 22:30] laenion opened #141 "udev_device_get_parent_with_subsystem_devtype crashes with certain devices"
A lot of Unity games crash on startup when they are using the Rewired library for input handling. According to the developer this crash is caused when calling function `udev_device_get_parent_with_subsystem_devtype` with "certain devices" (see https://forum.unity3d.com/threads/rewired-advanced-input-for-unity.270693/page-48#post-2775049 for the full post). This only happens with eudev, but not wit

[2017-02-06 23:28] rtollert opened #142 "Global properties are broken"
e.g. if there's some rule involving ENV{foo}="bar", `udevadm control --property=foo=bar` does *not* satisfy that condition in eudev 3.1.5.

This is a regression against udev 182, and in fact, is almost certainly a mismerge against systemd: The systemd commit adeba5008eac3105ae59256dedd087ebe006a9e6 "udev: support ENV{}=="" global property matches" was never applied to eudev.

(The preceding commit

[2017-02-22 13:58] blueness commented on #142
sorry for missing this, i've been busy with real life.  i agree and will try to have that in soon.  if you want to propose a patch against master/HEAD i'd be happy to review and commit.

[2017-02-25 20:03] blueness commented on #142
Okay I see what happened here.  I must have missed a hunk when merging adeba500.  This should be fixed now.  Please reopen this if its still an issue.

[2017-02-25 20:03] #142 closed

[2017-03-11 19:28] laenion commented on #141
After some debugging I think I can narrow this problem down to the following: Slackware64 14.2 has two versions of libudev installed:
[code]

In the stacktrace of one of the games you can see that function calls end up in different versions of the library (using the demo of "Caveman Warriors"):
[code]

Deleting the older version will get the game working.

So while I'm still not sure how to preven

[2017-03-11 19:28] #141 closed

[2017-03-11 19:33] blueness commented on #141
I didn't answer you right away, but I did test and simply could not see how
the error arose.  Thanks for narrowing this down.

On Sat, Mar 11, 2017 at 2:28 PM, Ignaz Forster <notifications@github.com>
wrote:

[2017-03-28 08:02] CallMeFoxie opened #143 "build fails with glibc-2.25 and gcc 6.3.0"
Hi, using the latest release:
running autogen.sh and then ./configure --disable-selinux and then trying to compile with make:

fileio.c: In function 'read_one_line_file':
fileio.c:61:16: error: 'LINE_MAX' undeclared (first use in this function)
         char t[LINE_MAX], *c;

this happens in multiple files (6 or so) where limits.h is not included - and __USE_POSIX2 macro is not defined/set. Am I d

[2017-03-28 10:54] blueness commented on #143
Thanks, I haven't tested with the newer glibc/gcc, so I'll look into that.

[2017-05-04 11:54] udeved opened #144 "udevhwdbdir"
Hi,

I found some little shortcoming with udevhwdbdir.

It is currently tied to sysconfdir, ie I can only make it install in /etc/udev/hwdb.d

However, it would be really nice to configure udevhwdbdir independently of sysconfdir, so it can be installed to /usr/lib/udev/hwdb.d, so perhaps make udevhwdbdir depends on udevlibexecdir instead of sysconfdir?

[2017-05-04 12:47] udeved commented on #144
This patch ...

[code]

produces ...

[code]

I am not sure its best way, but if you want, I can send PR.

[2017-05-10 13:44] blueness commented on #144
I'll test this out in about 1 week.  Sorry for the delays, but exams are heavy this year ;)

[2017-05-12 08:49] udeved commented on #144
No worries, I patched the build in the meantime and it seems to work well.

I wish success for the exams.

[2017-05-12 08:55] udeved opened #145 "elogind and eudev"
If elogind is used in combination with eudev-3.2.2, an udev error is logged.

I quote from another user who reported the same issue:

https://github.com/systemd/systemd/blob/master/src/udev/udev-builtin.c#L45

https://github.com/elogind/elogind/issues/10#issuecomment-300882365

[2017-05-12 11:45] Yamakuzure commented on #145
The code needed isn't much, it just updates user ACLs on devices.

See:
https://github.com/systemd/systemd/blob/master/src/udev/udev-builtin-uaccess.c

The offending rule that triggers the error is this one:
https://github.com/elogind/elogind/blob/master/src/login/73-seat-late.rules.in#L15

[2017-06-27 07:29] pierre-labastie opened #146 "Scheduler "noop" is not valid for Multiqueue"
eudev-3.2.2, linux-4.11.7, with [LFS](http://www.linuxfromscratch.org). Part of the init script:
[code]
I get:
[code]
Using udevadm test, it appears the this occurs when "adding" /sys/block/nbd? devices.
Reason: the only possible values for ATTR{queue/scheduler} are *mq-deadline* and *none*, but
**/lib/udev/rules.d/60-block.rules** has:
[code]
I am not sure how this should be corrected (on my syst

[2017-07-05 13:41] WimHuang opened #147 "How to tag Mulit-touch(MT) devices?"
I have a mulit-touch(MT) screen，whose driver is linux-4.4/drivers/input/touchscreen/gt82x.c.
It works fine in android,  but in linux(buildroot ), the eudev shows "not tagged as input device".

I checked the eudev source file, and found in src/udev/udev-builtin-input_id.c
test_pointers:
    if (test_bit(EV_ABS, bitmask_ev) && test_bit(ABS_X, bitmask_abs) && test_bit(ABS_Y, bitmask_abs)

[2017-07-06 11:47] WimHuang commented on #147
add src/udev/udev-builtin-input_id.c/test_pointer():
if (test_bit(ABS_MT_POSITION_X, bitmask_abs) && test_bit(ABS_MT_POSITION_Y, bitmask_abs)) {
udev_builtin_add_property(dev, test, "ID_INPUT_TOUCHSCREEN", "1");
ret = true;
}

This problem is fixed on the newest systemd/udev

[2017-07-06 11:47] #147 closed

[2017-08-11 14:57] msmith626 opened #148 "ID_SERIAL and Whitespace"
Hi,

Using eudev 3.2.1 and noticed an issue with some NVMe drives and symbolic link creation. The links for a NVMe device look like this:
[code]

Notice the MZVPZ256HDGL... value in the root of /dev, and the "nvme-SAMSUNG" partial value in /dev/disk/by-id. It appears this is caused by whitespace in the ID_SERIAL variable value for this device:
[code]

I don't know the [e]udev code well enough to d

[2017-08-14 15:24] msmith626 commented on #148
Upon digging a little deeper, I discovered the scsi_id tool is not used at all for an NVMe device (which makes sense, duh)... $attr{model} and $attr{serial} are used in the rule for the ID_SERIAL value.

I found the same issue for the systemd project:
https://github.com/systemd/systemd/issues/4833

And it appears this is the fix they used:
https://github.com/systemd/systemd/pull/4837

I'm not sure

[2017-08-18 14:51] blueness commented on #146
yep that line has to go.  someone asked me to add it, but its wrong.

[2017-08-25 17:07] msmith626 commented on #148
I created pull request #149 which resolves this issue.

--Marc

[2017-09-03 17:24] blueness commented on #146
This is fixed in 47367bc4df6f05a49cf4b5b0209153d77a9ade83

[2017-09-03 17:24] #146 closed

[2017-09-03 17:34] blueness commented on #148
Looks good to me.  I merged it.  Can you test more at your end with master/HEAD and let me know if there's any issues.

[2017-09-03 17:34] #148 closed

[2017-09-03 18:12] blueness commented on #145
I've resisted putting acl's into eudev, but it looks like you guys need it.  I'll play with it a bit and try to get something out in v3.3

[2017-09-05 20:18] cimarronline opened #150 ""input SUBSYSTEM rule in default" missing from 3.2.3"
It seems the commit ["rules: restore input SUBSYSTEM rule in default"](https://github.com/gentoo/eudev/commit/99e12e394fed83453ff738563e9606ed7789abd2) isn't included in the 3.2.3 release. The release's /usr/lib/udev/rules.d/50-udev-default.rules doesn't have the SUBSYSTEM=="input" line (which resulted in no touchpad, mouse, or keyboard input for me after installation; I'm running Manjaro with Ope

[2017-09-05 21:37] blueness commented on #150
I need to push out 3.2.4 with the fix.  I'm just waiting a bit longer to get feedback from distros, but it definitely has to go out.

[2017-09-05 22:03] cromerc commented on #150
This is definitely a serious problem. We experienced the same loss of keyboard, mouse, and touchpad in Cromnix and Artix linux distros. I just ended up patching 3.2.3 to fix the issue until 3.2.4 is ready.

[2017-09-05 22:28] blueness commented on #150
okay i've pushed 3.2.4 with the fix.  thanks for your patience!

[2017-09-05 22:28] #150 closed

[2017-09-05 23:55] cromerc commented on #150
Thanks for the quick resolution. 3.2.4 is confirmed working under Cromnix and Artix distros.

[2017-09-08 01:55] msmith626 commented on #148
Yes, will do. Thanks.

--Marc

On Sun, Sep 3, 2017 at 1:35 PM, Anthony G. Basile <notifications@github.com>
wrote:

[2017-09-14 03:57] CameronNemo commented on #145
FYI I placed a small bounty on this bug, thanks for your work @blueness https://www.bountysource.com/issues/45118863-elogind-and-eudev

[2017-09-18 17:51] rossburton opened #151 "Consider uploading maintainer-generated tarballs"
GitHub /archive/[tag].tar.gz tarballs (eg https://github.com/gentoo/eudev/archive/v3.2.4.tar.gz) are generated on demand and cached, so over time can and will change.  Assuming the tag never changes the extracted contents are identical but the actual tarball may have a different checksum over time.

This makes it hard to use /archive/ tarballs with distributions which verify downloaded tarballs wi

[2017-09-18 20:55] blueness commented on #151
That's why I set up http://dev.gentoo.org/~blueness/eudev/

[2017-09-18 20:55] #151 closed

[2017-09-18 21:31] rossburton commented on #151
Oh that's awesome.  You should consider uploading them as you make releases
to github so people like me don't bother you. :)

Ross

[2017-09-18 21:42] blueness commented on #151
i'm not sure how to do that

[2017-09-18 21:48] rossburton commented on #151
When you make a release (ie tag the repo) go to
https://github.com/gentoo/eudev/releases, press Create a New Release, pick
the tag, and drag the tarball you've already make into the page.  Github
will associate the tarball with the tag and let users download it.

Ross

On 18 September 2017 at 22:42, Anthony G. Basile <notifications@github.com>
wrote:

[2017-09-18 22:22] williamh commented on #151
I think when github generates archives, it uses "git archive" which uses the timestamp in the tag for the timestamp in the archive. Because of that, the archive's checksum will never change no matter how many times you generate the archive.

[2017-09-18 22:30] rossburton commented on #151
On 18 September 2017 at 23:22, William <notifications@github.com> wrote:

Unless tar changes and the bitstream of the tarball is different (with
identical contents).  Ditto for gzip.

For a few years this has been a hypothetical situation but I've actually
seen it happen with an erlang tarball recently and Github have confirmed
that whilst they cache the tarballs, they're not stored forever.

At s

[2017-09-20 14:26] EvaSDK commented on #151
I was ready to comment about it being a documentation issue but it appears that the tarball release location is written in the readme already.

[2017-09-20 14:29] rossburton commented on #151
In which case I apologise for not noticing that!

Ross

On 20 September 2017 at 15:27, Gilles Dartiguelongue <
notifications@github.com> wrote:

[2017-11-01 09:17] josch09 commented on #145
maybe this guy was wrong...
https://forum.manjaro.org/t/openrc-and-73-seat-late-rules-why-deleting-it-was-a-good-thing/24599

[2017-11-21 07:28] Yamakuzure commented on #145
Well... if printing an error by openrc did crash his broadcom wl driver, there is something seriously wrong with his machine.
That rule failing can't likely be the cause. Removing that file only stopped openrc to print an error.

And for the record, I am using the broadcom wl driver ("broadcom-sta"), too, and it doesn't segfault on my machine. (But then, there might be differences between the broa

[2017-11-24 06:13] rworkman commented on #144
Related to #127

[2017-12-12 07:23] l29ah opened #153 "eudev-3.2.5 waits 10 seconds before processing an event"
w/o apparent reason. `udevadm monitor`:
[code]

[2017-12-13 13:51] blueness commented on #143
Sorry for the delay.  I did test but found that it worked for me, so I waited until the rest Gentoo caught up with gcc-6.4.0 and glibc-2.25.  We stabilized those over a month ago and no one has hit this problem.  I'm not surprised though because LINE_MAX is defined through <limits.h>.

Try this on your system

echo -e "#include <stdio.h>\n#include <limits.h>\nint main() { printf(\"%d\", LINE_MAX);

[2017-12-13 13:51] #143 closed

[2017-12-14 14:21] blueness commented on #153
Unfortunately that information doesn't say much beyond the timestamps.  What's the device that triggers this?

[2017-12-14 14:24] l29ah commented on #153
I've tried plugging in two different usb webcams, usb bluetooth adapter and usb sound card with similar results.

[2017-12-14 14:55] blueness commented on #153
Okay it doesn't sound device specific.  What distro are you using.  What kernel?  If you configured the kernel yourself, please attach it to the bug.

[2017-12-14 15:13] l29ah commented on #153
Gentoo Hardened. 4.9.52-unofficial+grsec
https://dump.bitcheese.net/files/buhudom/config.gz

[2017-12-14 16:37] blueness commented on #153
I strongly suspect the hardening.  Having maintained the hardened kernel for many years, if I'm right, I can tell you this is not going to be easy to nail down.  The cycle of "disable this option and see if it fixes it" based on guess work is probably going to take too long.

The best approach here is to rule out the hardened kernel first by seeing if the problem goes away with a vanilla kernel.

[2017-12-15 03:20] l29ah commented on #153
On Thu, Dec 14, 2017 at 04:37:54PM +0000, Anthony G. Basile wrote:

I've rebooted into vanilla and it kinda fixed itself both in vanilla and in grsec: the delay is about 0.5s now. I guess i should've tried restarting eudev first.

--
()  ascii ribbon campaign - against html mail
/\  http://arc.pasp.de/   - against proprietary attachments

[2017-12-15 07:29] blueness commented on #153
I don't think restart eudev did it.  You're running kernel was probably in a bad state.

[2018-02-09 10:42] weedy commented on #132
This just bit me in the ass over my iwlwifi card. Can you guys decide one way or the other?
For me I just nuked CONFIG_FW_LOADER_USER_HELPER

[2018-02-09 11:12] blueness commented on #132
@weedy did nuking CONFIG_FW_LOADER_USER_HELPER work?

[2018-02-16 19:47] CameronNemo commented on #145
@arthurt has proposed a branch for elogind to do the ACL changes itself, so eudev likely will not need to include the uaccess helper to play nice with elogind once that is merged and released

[2018-02-17 16:25] blueness commented on #145
@CameronNemo Okay, let me know if there's anything I need to do on my end.  I like this design direction.

[2018-02-23 21:59] Sur3 opened #154 "DS4 touchpad is missing ID_INPUT_TOUCHPAD."
Hi my DualShock 4 touchpad didn't work because ID_INPUT_TOUCHPAD was missing, I therefore wrote a rule to get the touchpad functional with libinput:
SUBSYSTEM=="input", KERNELS=="0003:054C:09CC.*", ATTR{device/name}=="Sony Interactive Entertainment Wireless Controller Touchpad", ENV{ID_INPUT_TOUCHPAD}="1"
SUBSYSTEM=="input", KERNELS=="0005:054C:09CC.*", ATTR{device/name}=="Wireless Controller Touc

[2018-02-23 22:10] whot commented on #154
fwiw, this shouldn't be fixed with a custom rule for this device, given the evdev codes this should always be tagged as touchpad anyway. a more generic version is needed (or a fix of whatever tags touchpads right now).

[2018-02-23 22:29] blueness commented on #154
@whot agreed.  @Sur3 I'm confused by your suggestion, wasn't this fixed upstream by the following:
https://github.com/systemd/systemd/pull/8259

[2018-02-23 22:32] Sur3 commented on #154
@blueness, I'm not using systemd but OpenRC, therefore whatever that systemd bug fixed didn't affect me. Also that bug seems to be about not to assign "ID_INPUT_TOUCHPAD" and "ID_INPUT_MOUSE" at the same time, my problem is none of that were assigned at all, only the generic "ID_INPUT".

[2018-02-23 22:36] blueness commented on #154
@Sur3 still @Whot is right, i can't add a custom rule for just this device.

[2018-02-23 22:39] Sur3 commented on #154
@blueness then we should research why the generic rule doesn't work.. @whot which part of the evdev codes exactly tells udev that it's a touchpad..? https://bugs.freedesktop.org/show_bug.cgi?id=105050#c2

[2018-02-23 23:25] whot commented on #154
look at the systemd udev-builtin input_id.c please

[2018-02-24 01:58] Sur3 commented on #154
Ok I compared the input_id.c code from eudev and systemd, seems systemd also accepts ABS_MT_POSITION_X/Y for setting a dev as touchpad, whereas eudev checks only for ABS_X/Y and doesn't accept MT coordinates to set a device as touchpad..

[2018-02-24 13:35] blueness commented on #154
systemd's test_pointers() in udev-builtin-input_id.c has quite a few changes which address joysticks, touchpads, touchscreens, etc.  I'm going to have to sort through those and import.  @Sur3 if I provide you with a patch, can you test it?

[2018-02-24 16:01] blueness commented on #154
@Sur3 @whot can you testing the latest git head.  commit dba4728 import's upstreams work on test_pointers().  Let me know if this properly addresses your issue.

[2018-02-25 03:49] Sur3 commented on #154
Ok thanks, I'll test that.

[2018-02-25 04:57] Sur3 commented on #154
Tried .9999.ebuild but _all_ ID_INPUT* are missing, so even my mouse and keyboard were non-functional.

[2018-02-25 08:51] blueness commented on #154
Okay, let me revert and test at my end before pushing again.

[2018-02-25 20:13] blueness commented on #154
Actually there is another problem with -9999 from recent contributions which may be causing your failure with all ID_INPUT* missing.  I know how to fix this, but I'm going to have to unravel some changes since 3.2.5.

[2018-02-27 00:45] Sur3 commented on #154
Yes or you could provide a patch, for the the new test_pointer so I can test that with 3.2.5 if that is easier for you..?

[2018-02-27 01:01] blueness commented on #154
I've scheduled fixing this for Wednesday.  There are some bad rules that were important uncritically by a contributor.  I'll ping you then.

[2018-02-28 15:19] blueness commented on #154
Okay I found the problem. Commit bb070c1 forgot to include the installation of 60-input-id.rules and 70-joystick.rules via the Makefile.  Without this, commits dba4728 and 5df0137 leave the system without any useable input devices.

@Sur3 please test git/head again.

[2018-03-02 12:34] Sur3 commented on #154
Hi, mouse, keyboard and touchpad work fine now. Only problem so far is when connecting over bluetooth the gamepads udev rules seem to be only executed on first connect, if I remember correctly disconnecting and reconnecting the gamepad over bluetooth worked fine before, I'll test with 3.2.5 again if it works there..

[2018-03-02 14:48] Sur3 commented on #154
Nope same problem with 3.2.5, so it's probably not udevs fault but a bluetooth problem, because with usb everything works fine now. ^^

[2018-03-02 14:49] #154 closed

[2018-03-02 15:42] blueness commented on #154
@Sur3 that's a different bug.

[2018-03-26 11:53] CameronNemo commented on #145
This issue has been fixed in the recent release of elogind. Should this issue be closed?

If so, @arthurt you can claim the $8 bounty for this issue!

https://github.com/elogind/elogind/issues/10#issuecomment-371775661

[2018-03-26 16:42] blueness commented on #145
yeah this can be closed.

[2018-03-26 16:42] #145 closed

[2018-04-11 13:14] denijane opened #156 "Asus FX503V touchpad not detected"
Hi, I'm new here, so please apologise me if I'm posting in the wrong place, but I saw similar issue posted here.
I bought a new laptop and the touchpad is not working at all.
I'm with Sabayon Linux 4.9.0 (so Gentoo based), I tried also the next kernel but still no touchpad.
In order to get my nvidia working and also the battery and temprature sensors, I have the option "acpi_osi! acipi_osi='Window

[2018-04-11 13:37] blueness commented on #156
Sabayon Linux 4.9.0 uses systemd, not eudev.  This is not a problem we can fix.

[2018-04-11 13:37] #156 closed

[2018-04-11 13:41] denijane commented on #156
Ok, could you tell me then where to post the bug? Becuase it's clearly a problem if the touchpad is not detected at all.

[2018-04-11 14:39] blueness commented on #156
its a sabayon issue.  start with their forums.

[2018-04-11 16:03] denijane commented on #156
I did that already, but they couldn't help me. And besides, I don't think it's their issue, since I tested about 5 distros (Fedora, Xubunto, Manjaro, Mint, GhostBSD and Scientific Linux) and not even one managed to detect my touchpad. So obviously, it's a problem of the drivers and/or kernel, which do not support this touchpad. Also Sabayon is Gentoo based, so Gentoo users will also benefit from s

[2018-05-20 14:11] arthurt commented on #145
Can I claim it please, thanks!

[2018-05-31 05:04] l29ah commented on #153
Reproduced on (non-hardened) 4.16.9, yet restarting udev didn't affect the behaviour.

[2018-05-31 05:06] l29ah commented on #153
[code]

[2018-08-11 21:17] blueness commented on #153
Looks like this is still an issue.

[2018-08-11 21:31] l29ah commented on #153
Yeah, and 4.17.11 is here.

[2018-09-20 05:49] CameronNemo opened #160 "Rules have invalid modes specified"
https://github.com/void-linux/void-packages/pull/2884#issuecomment-422624997

Some rules in systemd are generated now:

https://github.com/systemd/systemd/blob/master/rules/meson.build#L31

They use the following variables:

https://github.com/systemd/systemd/blob/master/meson_options.txt#L181

As well as rootbindir

https://github.com/systemd/systemd/blob/master/rules/64-btrfs.rules.in#L15

[2018-09-20 13:38] darkshram commented on #160
I can confirm. Tested eudev 3.2.6 and the following errors are shown because invalid variables:

[code]
These will need to be set from configure or set automatically.

[2018-09-20 13:52] blueness commented on #160
thanks.  i should have looked carefully before accepting the latest update to the rules.  i'm not sure we can support the same type of generated rules as systemd, but i'll take a look and push out a new release when i have this fixed.

any suggestions here are welcome.

[2018-09-20 13:57] darkshram commented on #160
Groups render and kvm should exists too. I don't think all distros will support 'render' group. Seems like replacing 'render' with 'video' should make everyone happy, unless render group is really being used by any distro using eudev.

[2018-09-20 13:59] darkshram commented on #160
My Suggestion:

[code]

[2018-09-21 12:32] blueness commented on #160
This should be fixed as of the latest commit a8ffcd1b985fb4b3e2c3a1cb9051bed86f69d3f3.  Can you test and get back to me to confirm everything is working right on your systems.  If so, I'll cut another release in a few days with this update.  I'd like to wait a while to see if more bugs come forwards before cutting a new release.

[2018-09-21 15:07] darkshram commented on #160
I have been working with eudev 3.2.6 in my PC with that patch applied since yesterday **without issues**. Everything seems to work Ok. I had to create the 'kvm' group (gid 36) before updating to eudev 3.2.6.

To test the use of 'video' group instead of 'render', in case there are other hidden surprises:

* Tested several OpenGL-based games.
* Tested MATE Desktop with compiz with ConsoleKit2.
* Tes

[2018-09-22 19:29] blueness commented on #160
I may switch from render to video for gentoo.  Let me see what direction gentoo wants to go in.

[2018-09-22 23:13] darkshram commented on #160
Thinking about this, anything using eudev most likely lacks 'render' group. There were no rules in eudev using this group until 3.2.6. I have checked on Fedora and CentOS, the first uses render group (because of latest systemd) and the second does not (using systemd 219).

The most neutral thing to do would be adding a few macros in configure.ac to let packagers pick either 'render' (tagged with m

[2018-09-23 01:41] CameronNemo commented on #160
What is the rational for the new render group?

[2018-09-23 02:16] darkshram commented on #160
Most likely is Lennart Poettering (as always) trying to _piss_ as much people as possible. But seriously, NEWS file from SystemD reads the following in the changes for systemd-336:

There are no more details. But digging into systemd files, the sysusers.d/basic.conf.in, which does not exist in eudev, we can find this:

[code]

So, the 'render' group seems to be systemd-specific.

Before eudev 3.2.

[2018-09-24 08:19] m5w6 opened #161 "Mouse tagged as joystick"
Since 3.2.6 my mouse does not work in X. From Xorg.0.log:

Applying this patch solved the problem:
https://github.com/systemd/systemd/pull/8493/commits/ae5fd19f9934291983d2850244bb44591ef0c97f

[2018-09-24 14:55] darkshram commented on #161
Another bug introduced by 940a1a13. I don't have that kind of mouse, but tested patch anyway in 4 different computers to make sure is safe for everybody else. No error/warning messages. All regular mice (mostly Logitech USB Optical Mouse) and mousepads work Ok.

[2018-10-05 00:44] blueness commented on #160
okay i think i'm going to leave things as is.  if various distros need to change things, they can patch the rules locally.

[2018-10-05 00:44] #160 closed

[2018-12-06 14:35] nolange opened #163 "provide a multicall-binary (Feature request)"
Hello,

I am currently trying to build a small initramfs with busybox + eudev, binaries are built static.
udevd and udevadm contain mosty the same code, so building a single executable nearly halves the required space.

I added a patch, which is good enough for me for building this binary and should outline the idea, but I dont know autotools good enough to know how to add this as an option (or wh

[2018-12-06 15:12] blueness commented on #163
I can't include this in eudev itself since it must conform to the standards set by systemd.  We could create a contrib directory with extras.

[2018-12-06 15:30] nolange commented on #163
I am not sure how this would look like.
Would you accept just the changes with the renamed main functions (udevd.c, udevadm.c, macro.h)?

[2018-12-11 11:36] blueness commented on #163
i'm sorry, no i can't.  i have to keep the separation clean.

[2018-12-24 18:55] CameronNemo commented on #163
@nolange check out busybox applets: uevent & mdev

[2018-12-25 16:44] tjelbert opened #166 "lenovo e525 keyboard/touchpad/synaptics not processed by eudev-2.2.5"
the kernel shows the following input devices:
$ ls -l /dev/input/
total 0
drwxr-xr-x 2 root root      80 Dec 25 17:09 by-path
crw-rw---- 1 root input 13, 64 Dec 25 15:19 event0
crw-rw---- 1 root input 13, 65 Dec 25 15:19 event1
crw-rw---- 1 root input 13, 66 Dec 25 15:19 event2
crw-rw---- 1 root input 13, 67 Dec 25 15:19 event3
crw-rw---- 1 root input 13, 68 Dec 25 15:19 event4
crw-rw---- 1 root i

[2018-12-25 21:18] nolange commented on #163
I found out about uevent **after** deciding to use eudev, the goal posts roughly are to support existing kernel cmdlines use `Predictable Network Interface Names`, be consistent with whatever init system + hotplug manager is running in rootfs (sysv / systemd and mdev / udev). And be **modular** by using a kernel-builtin initramfs while allowing hooks to be added by external initramfs.

I had probl

[2019-01-09 04:08] pandoralong opened #167 "error: *** POSIX header not found"
使用：
android 的toolchain :aarch64-linux-android

configure: WARNING: langinfo.h: present but cannot be compiled
configure: WARNING: langinfo.h:     check for missing prerequisite headers?
configure: WARNING: langinfo.h: see the Autoconf documentation
configure: WARNING: langinfo.h:     section "Present But Cannot Be Compiled"
configure: WARNING: langinfo.h: proceeding with the compiler's result
conf

[2019-01-09 11:23] blueness commented on #167
android doesn't do localization with <langinfo.h>.  luckily, it looks like nothing in this header was used and so it could safely be dropped.

please test the patch in commit 34b2037d and see if it solves your problem.  if it doesn't, please reopen this issue.

[2019-01-09 11:23] #167 closed

[2019-02-03 05:36] l29ah commented on #153
Found a better culprit: https://github.com/rickysarraf/laptop-mode-tools/issues/138

[2019-02-03 05:36] #153 closed

[2019-02-03 06:21] CameronNemo opened #168 "New functionality / comand line arguments"
I would like to add support for a new service readiness notification mechanism to udev, and I doubt that systemd will accept a patch. I would prefer if a command line argument was used to opt into the mechanism, but it could be omitted if it would result in too great of a maintenance burden.

Please let me know your thoughts. Thank you.

[2019-02-04 12:47] blueness commented on #168
I have to keep as close to upstream as possible.  People have suggested contributions outside of this but I have not merged them into mainstream eudev.  If you can think of a way of creating a contrib folder with optional patches, I would consider that.

[2019-02-04 20:35] #168 closed

[2019-03-15 20:48] weedy opened #170 "UPS drops symlink and I don't understand why"
So this seems to be schrodinger's symlink. I'm running sys-fs/eudev-3.2.7-r1.

If I reboot the box it finds the device and makes a symlink. When I run udevadm test $(udevadm info -q path -n /dev/bus/usb/<something>) it finds the device and makes a symlink. If I run udev from the console with --debug it finds the device and makes a symlink.
[code]
Everything is fine, unless the box is running for a

[2019-03-16 10:44] blueness commented on #170
I'm not sure what's going on here.  I'm guessing, but I think the device powers down, the kernel driver thinks the device has been removed and udevd removes the link.  It gets woken up when `udevadm test` or `udevd --debug` causes the kernel to probe for it.  I'm sorry I can't really help more without more diagnostics.  Can you at least give me the model of the UPS and information about your kerne

[2019-03-30 20:57] weedy commented on #170
kernel is anything from the past year, currently gentoo-sources-5.0.4 (Or .3, or .5, I forget)
Gentoo ~amd64
UPS is a CyberPower full sine wave 1350PFC

[2019-04-04 02:47] sammj opened #172 "eudev 3.2.7 fails to start monitor in Buildroot environment"
Hi All,

Recently we updated our buildroot-based project https://github.com/open-power/op-build to eudev 3.2.7 and found that setting up a udev monitor ( https://github.com/open-power/petitboot/blob/master/discover/udev.c#L527 ) failed silently. I tracked this down to this change: https://github.com/gentoo/eudev/commit/b1e47be38259f33e1db18193904575a1ffa21be8

It looks like we're failing the `udev

[2019-04-04 12:43] blueness commented on #172
Okay let's start narrowing this down.  There are two possibilities, if either is true, it fails.  So replace this code
```if (access(UDEV_ROOT_RUN "/udev/control", F_OK) < 0 || !udev_has_devtmpfs(udev)) {```
with
```if (access(UDEV_ROOT_RUN "/udev/control", F_OK)) {```
and then with
```if (!udev_has_devtmpfs(udev)) {```
and see which fails.

[2019-04-04 23:24] sammj commented on #172
Yep, while debugging this I saw that it's `!udev_has_devtmpfs(udev)` that fails - specifically on the `name_to_handle_at` call.

[2019-04-06 05:58] weedy commented on #170
So I caught it in the logs.
Isn't this a full disconnect? The rules already use ACTION!="add|change", and it went from being device number 2 to device number 3...

I'll probably buy another cable, since CyberPower looks like they shop at the 59 cent store not even the full dollar store. But that's more because of how shit the current one looks and not because I think it will help.

[code]

[2019-04-06 08:22] weedy commented on #132
Yes it did.

[code]

[2019-04-06 09:07] blueness commented on #170
this looks like a normal disconnect + reconnect with a 1 second delay.  i'd start looking at hardware issues first.

[2019-04-07 14:46] blueness commented on #172
I looked through that code and I can't get a handle on why it might be failing for your build env.  So:
1) Make sure `name_to_handle_at()` is supported.  linux > 2.6.39 and glibc > 2.14
2) If that's the case, try to get me more logs contextualizing why the call fails.

[2019-05-01 01:47] sammj commented on #172
Sorry for the radio silence, I got pulled into a few other fires.
This is occurring with linux 5.0.7 and glibc 2.28.
What logs will be useful for you, and are there any debug options I should enable?

[2019-05-12 17:35] tombriden opened #173 "Bump udev_version to 228 for mutter-3.32"
mutter-3.32 requires udev[>=228] but eudev's udev_version is still at 220. I've been running mutter-3.32 with eudev-3.2.7 without issue for a few weeks so it should be enough to just bump that to match.

[2019-05-19 10:24] blueness commented on #173
i should be cutting a new release today with this fix.

[2019-05-19 12:32] #173 closed

[2019-06-20 13:03] seymondy opened #174 "Cross-compile udev"
I am trying to cross-compile udev for arm. From what I see there is no support for this inside configure. I imagine that the only solution is to generate the Makefile and modify the paths inside to point to my arm compiler. Any other idea?

[2019-06-20 13:13] blueness commented on #174
I haven't tested cross compiling but 1) I know that eudev builds fine for arm and 2) I'm trying to stick to gnu autotool standards as closely as possible.  Can you post what you're doing and the errors you're encountering.

[2019-06-20 13:34] seymondy commented on #174
Thank you for your quick response! I have managed to compile them, but my problem is that I need to obtain a shared object (or multiple ones, not quite sure). Currently I am obtaining a lot of library objects.

[2019-08-01 23:41] thomas-t-w opened #176 "Sync the HWDB with systemd to get newer hardware supported correctly."
There has been a lot of changes to the hwdb upstream. I don't know enough about eudev to feel comfortable working on it myself but I wanted to just open an issue about this for someone who has a good understanding of how all this works.

[2019-08-20 00:09] blueness commented on #176
I just updated the hwdb, but didn't do a tagged release.  Can you test and see if it works for you.  If it does, I'll create a tagged release.

[2019-08-21 18:07] yannickbt64 opened #177 "Regex support seems sketchy (libudev)"
Hi,

Using libudev for matching devices in /dev/input, I see the matching using regular expressions doesn't see to act correctly.

For example:
    udev_enumerate_add_match_sysname(udev_enum, "event[0-9][0-9]*");

This line returns no matches despite event0 up to event3 exists.
On standard udev (from systemd), it works fine, under ubuntu 18.04.

But when using buildroot 2018.08 (which uses eudev 3

[2019-09-01 17:47] j0rj commented on #176
The hwdb update fixes an issue with the touchpad of my laptop.  May you please consider creating a tagged release.  I think it would be a good idea to keep the hwdb in sync with the latest systemd release.  Below is a diff between the results of `libinput record [device]` before and after the update.
[code]

[2019-09-02 02:37] j0rj commented on #176
Sorry, but with the hwdb update the touchpad works erratically after a cold boot, a reboot solves the issue.  I solved the issue permanently blacklisting the `usbmouse` module.  Please notice that before the update the touchpad worked properly just sporadically, otherwise with the same erratic behavior.

Pardon for the chatter, but I hope this will be useful if someone has the same issue.  My lapt

[2019-10-04 11:04] joakim-tjernlund opened #178 "Import USB etc suspend rules from ChromeOS"
systemd just imported these:
https://github.com/systemd/systemd/commit/b61d777abeecd8b6c76035e11899aae210633534?utm_source=anzwix

Perhaps eudev should as well?

[2019-12-02 02:45] xfdzjz opened #179 "cross compile eudev"
When I was trying to cross compile the terminal show me this
checking for m4... /usr/bin/m4
checking arpa/inet.h usability... no
checking arpa/inet.h presence... no
checking for arpa/inet.h... no
configure: error: *** POSIX header not found

my configure command is ./configure  --host=x86_64-w64-mingw32  --prefix=/home/jiazhi/evan/eudev-3.2.9

what should I do, do I need to install any lib?

[2019-12-02 03:30] xfdzjz commented on #179
And I have find the inet.h uder /usr/include/arpa/inet.h

[2020-01-02 12:50] shenki commented on #172
I was able to confirm Sam's fundings under a similar environment (powerpc64le, glibc 2.28, linux 5.3). We see name_to_handle_at returning EOPNOTSUPP on `/dev`:
[code]

The kernel has COFNIG_FHANDLE enabled, so I'm a little puzzled.
[code]

The same test program (https://ozlabs.org/~joel/udev-test.c) on the same hardware, but running under a distro, works fine:
[code]

[2020-01-02 14:06] shenki commented on #172
To answer my question in the previous comment, the reason it's not supported is kernel has `CONFIG_SHMEM=n` and therefore `CONFIG_TMPFS=n`. Looking at the kernel's implementation of name_to_handle_at, there's one code path that returns EOPNOTSUPP:

[code]
When TMPFS is disabled, devtmpfs is implemented as ramfs. This lacks a fh_to_dentry operation (`struct export_operations *s_export_op` is where

[2020-01-02 14:09] shenki commented on #172
Now that we know how to reproduce, I was wondering how to fix it. Going back to the change that https://github.com/gentoo/eudev/commit/b1e47be38259f33e1db18193904575a1ffa21be8 caused the issue, it's not clear to me why the and condition was changed to an or.

The code read as "if there's no socket, and /dev/ is not a tmpfs, we can't open the socket". This is the same implementation that systemd sh

[2020-01-04 14:22] blueness commented on #172
Okay, I now see what's going on with the buildroot env.  I'm okay with dropping the devtmpfs check since there should be no reason why you can't create a socket on a regular filesystem, although it is cleaner on tmpfs.

Do you want to create a PR so you get attribution for work.  Else its easy enough for me to just remove the check.

[2020-01-06 11:17] shenki commented on #172
@blueness I'm happy for you to fix it up. Thanks very much!

[2020-01-06 16:35] blueness commented on #172
Okay please test this patch.  If it works for you, it will be out in the next release I cut.  Reopen the issue if it is still a problem.  Sorry for the delay in acting, but not being a buildroot user, I just assumed that in setting up the chroot, ${ROOT}/dev was mounted tmpfs or bind mounted from /dev.

[2020-01-06 16:35] #172 closed

[2020-01-13 09:55] nnnn20430 opened #180 "NetworkManger rules need ID_NET_DRIVER"
NM has rules to prevent automatic management of certain interfaces, like the ones created by docker as can be seen [here](https://github.com/NetworkManager/NetworkManager/blob/4c78434a0bf5a7fbf8ceafb0d07440f3fc7a2b71/data/85-nm-unmanaged.rules#L27).

this works on system-udevd but not on eudev, because of this everytime i run a new docker container i get constantly spammed with notifications by NM

[2020-02-14 10:42] travankor opened #181 "inotify_add_watch(7, /dev/sdb, 10) failed: No such file or directory"
For the past week or so, my logger is flooded with the following message: `udevd[timestamp]: inotify_add_watch(7, /dev/sdb, 10) failed: No such file or directory`.

udev still seems to work, so the message seems harmless. But I would like to disable this message or fix whatever it's root cause is. I remember that, while `dd`'ing to /dev/sdb, I lost connection to that device. `dd` wrote the remaini

[2020-02-14 10:53] travankor commented on #181
Unrelated, it would be nice if there was an alternative to {systemd,e}udev for desktop Linux... tried mdev and couldn't get Xorg/Wayland working

[2020-03-17 03:06] Apteryks opened #182 "@bindir@ incorrectly expands to "${exec_prefix}" in 64-btrfs.rules.in"
Hello, I've encountered this problem on the Guix System (c.f.: https://debbugs.gnu.org/cgi/bugreport.cgi?bug=39926#20).  The generated 64-btrfs.rules contains "${exec_prefix}", which causes (non fatal) udevd errors at boot time.

It seems the problem is probably the same as this SO question: https://stackoverflow.com/questions/54405359/how-to-recursively-substitute-variable-for-a-path-in-bash-vari

[2020-03-20 16:11] blueness commented on #182
Looking at the bug at gnu.org, I think you've misconfigured the build.  Can you get me 1) the entire line that you are feeding to configure `./configure ....`  2) Run configure and at the end there is a list of variables and their replacement values including exec_bin.  Give me that entire output.

[2020-03-20 20:48] bricewge commented on #182
[Here](http://ci.guix.gnu.org/log/zw1wvisi0hf5sb6nkysx2k10x5s50lp4-eudev-3.2.9-1) are the log for the [latest build ](http://ci.guix.gnu.org/search?query=eudev+system%3Ax86_64-linux+spec%3Aguix-master) of `eudev`.
1. The argument passed to `./configure` are listed on the line starting with `configure flags: `
2. You will find the list of variables reported by `./configure` further down

[2020-04-08 03:56] Apteryks commented on #182
@blueness do you have the information you need?

[2020-04-08 23:09] blueness commented on #182
@Apteryks  I'm not sure where Guix puts all its components, but I've noticed your build is not setting a lot of configure parameters.  Try the following or some variation and it should fix this problem --- vary any of the parameters to fix Guix's specifications.

`configure --prefix=/usr  --sysconfdir=/etc --localstatedir=/var/lib --exec-prefix= --bindir=/bin --includedir=/usr/include --libdir=/us

[2020-04-10 13:25] blueness commented on #182
This patch looks good.  I'll commit in a sec.

[2020-04-10 13:26] #182 closed

[2020-06-07 21:53] yshui opened #185 "udevd fails to start when started without stdin/out/err fds"
No sure if this should be considered a bug or not.

If udevd is started without any fd, some of the fd created during setup will occupy fd 0, 1, 2. And they will be overridden by:

https://github.com/gentoo/eudev/blob/79f7650b59c4f9261b5e9e76e3c57cfc90b2dc6b/src/udev/udevd.c#L1293-L1295

cause udevd to loss those essential fds and fail.

[2020-06-07 21:54] yshui commented on #185
my suggestion would be to do the /dev/null redirections earlier

[2020-07-05 19:20] haarp opened #186 "eudev not setting attr under expected circumstances"
Hello,

I am using eudev-3.2.9 on Gentoo. I have custom rules under `/etc/udev/rules.d/10-local-powersave-nvidia.rules`:
`ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{class}=="0x040300", ATTR{power/control}="auto"`

I can verify that this rule matches and *should* be working. I can also verify that `/sys/bus/pci/devices/0000:01:00.1/power/control` exists, is writable, and that its

[2020-07-23 12:07] smcv opened #187 "escaped double quotes in udev rules not parsed"
Newer versions of mainline udev, as included in systemd v235+, support escaped double quotes `\"` inside the double quotes of a udev rule's value. This is mainly useful for `RUN{program}`. In simple cases this escaping mechanism can be made unnecessary by replacing the escaped double quotes with a single quote as documented in udev(7) (as in ValveSoftware/steam-devices#11), but in more elaborate u

[2020-07-25 13:23] blueness commented on #187
Did you try to just apply systemd/systemd#6890 to eudev and test?  If it works, go ahead and prepare a pr.  Else, if more work is done, I'll try to hack away at it.

[2020-07-27 11:22] smcv commented on #187
Sorry, I don't use eudev myself and don't intend to work on this. I'm only passing on the report from ValveSoftware/steam-devices#10.

[2020-08-07 11:50] mjeveritt commented on #163
See also https://github.com/systemd/systemd/issues/14200

[2020-08-12 20:39] blueness commented on #163
Looks like this is needed.  I'll have a look over the weekend.

[2020-11-27 15:53] ericonr commented on #15
Is this still a concern? I don't see those warnings while compiling.

[2020-11-27 19:38] blueness commented on #15
@ericonr Did you compile on musl?  Its not an issue on glibc, but I recall that it was an issue on musl.

[2020-11-28 17:31] ericonr commented on #15
Yes, on musl.

That said, I can't find out where, if anywhere, `_GNU_SOURCE` is being passed to it... Or if we're just getting lucky with defaults. I will see if I can come up with a clean fix to be sure the issue never happens.

[2021-01-09 19:34] leleliu008 opened #191 "error: redefinition of 'devt_hash_ops' const struct hash_ops devt_hash_ops"
[code]

[src/shared/hashmap.h](https://github.com/gentoo/eudev/blob/master/src/shared/hashmap.h#L101-L104)
[src/shared/hashmap.c](https://github.com/gentoo/eudev/blob/master/src/shared/hashmap.c#L338-L341)

[2021-02-09 19:02] Whissi commented on #185
This somehow reminds me of https://bugs.gentoo.org/547916.

[2021-03-05 19:01] sajcho opened #193 "/dev/stdout is not a link to /proc/self/fd/1"

[2021-04-07 08:08] dkwo opened #195 "Unknown key identifier 'zoom'"
With the last update (3.2.10), I get this error during boot.
Do you know how to fix it?
I'm on Void Linux-musl, using runit as init.
[code]
Also, is it expected to have so many instances of udevd?
Thanks.

[2021-05-03 00:01] ardrabczyk opened #197 "Workers do not timeout when udev_log="err""
Steps to reproduce:

/etc/udev/rules.d/50-test.rules:

    ACTION=="add",KERNEL=="sd?[0-9]",RUN+="/home/ja/udev/udev-script.sh"

/home/ja/udev/udev-script.sh:

    #!/usr/bin/env sh

    echo $$ > /tmp/UDEV
    /home/ja/udev/sleep.sh &

/home/ja/udev/sleep.sh:

    #!/usr/bin/env sh
    sleep 9999

/etc/udev/udev.conf:

    # see udev.conf(5) for details

    udev_log="err"

Start udevd in daemon

[2021-05-03 17:33] ardrabczyk commented on #197
It looks like a feature - pipes from child to parent are not created in `udev_event_spawn()` if udev_log is >= LOG_INFO.

[2021-05-17 16:13] #195 closed

[2021-06-11 19:10] concatime commented on #144
Up @blueness https://github.com/gentoo/eudev/pull/127#issuecomment-167581064.

[2021-08-24 19:51] blueness opened #199 "IMPORTANT: eudev deprecation 2021-08-20"
As of 2021-08-20, I will no longer be maintaining eudev.  If you are interested and are able to maintain it, I am happy to transfer control over to you.

[2021-08-25 13:31] OllieGitHub opened #200 "eudev not creating nodes"
I know this is deprecated, but I figured I would give this a shot anyway!

I have already read over https://github.com/gentoo/eudev/issues/60 and the linked issues without luck

I am trying to get eudev to work on an embedded system that previously used a very old udev version (107). So I am making quite a large jump in versions

Entered command ('udevadm trigger --action=add' results in same stra

[2021-09-20 02:24] #199 closed

[2021-11-05 02:01] #191 closed

[2021-11-05 02:25] kaniini commented on #185
I have a patch for this pending, but want to wait until next release cycle.

[2021-11-05 10:33] ArsenArsen commented on #185
iirc, some libcs correct this automatically on startup ([musl](https://git.musl-libc.org/cgit/musl/tree/src/env/__libc_start_main.c#n45) I think is the most prominent one here).

there is a forgotten patch of mine that I submitted to glibc, that never got merged, if need be, I could bring it up again: https://sourceware.org/pipermail/libc-alpha/2020-August/117083.html

adding this to the list of b

[2021-11-05 17:17] bbonev commented on #185
My opinion is that fixing that at *libc level is conceptually wrong - applications should be able to freely decide how to handle their descriptors. What does POSIX say about that?

@kaniini Please add you patch as a PR - I do not expect that to be too complex

[2021-11-05 19:08] ArsenArsen commented on #185
the thread contains discussion about standards, my take is that it's a dangerous potential (and very real) footgun; glibc already exhibits this behavior for SUID binaries, and as said, musl does too for all binaries

[2021-11-14 07:55] ericonr commented on #15
The makefiles for files that use this function include this snippet, and `config.h` defines `_GNU_SOURCE`

[code]

So I think this can be closed.

[2021-11-14 08:03] ericonr opened #214 "Configure doesn't complete when run with `-Werror`"
Detection of `mempcpy` and `stpcpy` fails, at least, because autoconf sucks and the macros defined in `AC_USE_SYSTEM_EXTENSIONS` aren't propagated to the rest of the build system - so the functions aren't declared due to a lack of `_GNU_SOURCE`. I'm not sure what a pretty fix here would be, besides appending to `CFLAGS` ourselves around the tests for these functions.

[2021-11-14 21:33] bbonev commented on #214
Can you please provide more info - what is the build env, what is the exact error (from config.log) for the mis-detection?

[2021-11-14 21:55] bbonev commented on #214
Oopsie, I didn't read the subject.

I believe that the proper fix should go in `autotools` by e.g. adding a -Wno-error to the tests that are yielding warnings by design.
It is another story if the compiler in use supports -Werror/-Wno-error and that would break the tests in case it doesn't...

My opinion is that this should not be "fixed" out of `autotools` - it is a common problem for all project

[2021-11-14 23:20] ericonr commented on #214
That is *definitely* the wrong fix.

`mempcpy` generates a warning because it isn't exposed by headers, since `_GNU_SOURCE` isn't defined. Other functions in the same block work, because they are exposed without the need for feature test macros. This autoconf macro *should* work with `-Werror`. Testing for functions should verify availability in headers and for linking; the header test currently f

[2021-11-15 00:00] bbonev commented on #214
configure:20221: gcc -o conftest -Werror -D_GNU_SOURCE   conftest.c  >&5
conftest.c:103:6: error: conflicting types for built-in function 'mempcpy'; expected 'void *(void *, const void *, long unsigned int)' [-Werror=builtin-declaration-m
ismatch]
  103 | char mempcpy ();
      |      ^~~~~~~

[2021-11-15 00:00] #214 closed

[2021-11-18 21:09] kaniini commented on #214
The issue here is that autoconf generates these test programs itself, and autoconf sucks :)

[2021-11-18 21:10] kaniini commented on #15
I think trying to be POSIX-compliant on something that is requiring `AF_NETLINK` is a little crazy.  If somebody wants to use this on non-Linux, they have to support `AF_NETLINK` anyway, so adding `asprintf` is not unreasonable to do at the same time.

[2021-11-18 21:10] #15 closed

[2021-11-18 21:56] bbonev commented on #75
`gperf` is a hard dependency since quite a long time. No suggestion came for changing that during the last 6+ years, so closing.

[2021-11-18 21:56] #75 closed

[2021-11-18 22:07] bbonev commented on #179
I see no point in cross compiling `eudev` for mingw(32|64) - there is no way the result to be useful because `eudev` depends on linux kernel functionality.

[2021-11-18 22:13] bbonev commented on #107
Resolved with recent release model

[2021-11-18 22:13] #107 closed

[2021-11-18 22:46] #179 closed

[2021-12-15 05:16] CameronNemo commented on #168
@bbonev do you want to reconsider this? s6, dinit, and other supervisors support non-forking readiness notifications but udev cannot currently operate in that way. The patch to add support is fairly small and non intrusive.

[2021-12-15 08:07] bbonev commented on #168
OK, please reopen the PR, thus more people can review and give an opinion on it...
I haven't looked into closed issues/PRs (and do not plan to)

[2022-01-18 20:29] bbonev commented on #168
ping @CameronNemo

[2022-02-24 12:01] lelgenio opened #217 "Crypto partitions missing from /dev/disk/by-label/"
[code]

Is `rules/60-persistent-storage.rules` missing `crypto` on `ENV{ID_FS_USAGE}`?:
[code]

[2022-03-04 03:24] bbonev commented on #217
Thanks for reporting this.

The issue will be addressed by the next merge of the rules.d; it is strange how the previous merge missed that, the original change dates back to 2018:

https://github.com/systemd/systemd/commit/f2bd752215cba2f90697edd7e3ff5e859a6b9a4c

[2022-04-13 11:39] vanfanel opened #227 "RetroArch fails to detect input devices with EUDEV"
Hi there,

After the great news that EUDEV is back to active development, I am trying to use it for my embedded systems.
One of the main tests I do is RetroArch compatibility.

Strangely enough, EUDEV doesn't work with RetroArch after rebuilding RetroArch against EUDEV.

RetroArch says:

[code]

Which comes from this piece of code:

https://github.com/libretro/RetroArch/blob/dcc67278754452071c0c6c

[2022-04-13 12:52] ArsenArsen commented on #227
Permissions are also set by udevd (besides just reacting to events); as a hunch, can you replicate this with udevd running?
I'm also of the opinion that if (e)udevd can't run on an embedded system, the reasons why should be looked into.

I could be off, since I'm just doing a quick drive-by look, but I can give it a more in-depth look later.

Thanks!

[2022-04-13 20:21] vanfanel commented on #227
@ArsenArsen Permissions should not be a problem on this system, as it's a system without any users, only root is created on the system.

I can reproduce the issue with udevd running, yes.
On an ssh TTY I do:
`XDG_RUNTIME_DIR=/tmp udevd -d`
And in another ssh TTY I do:
`XDG_RUNTIME_DIR=/tmp retroarch -v`

...and the results are the same as before.

[2022-04-16 21:10] bbonev commented on #227
@vanfanel Thanks for the report. Unfortunately I am not using RetroArch and can not test/debug this problem. Please provide more information on what is causing it and/or where the problem is, and I will help to review and merge a proposed patch. Even if you are not able to propose a patch, in case it gets located we can work together on a fix.

[2022-05-10 09:24] konradgraefe opened #228 "udevd does not store custom TAGS"
Hello,

i have a rule tagging any device on a specific USB port with a custom tag:

[code]

I also have a custom daemon listening for events with this tag using `libudev`. This works while processing the event but I cannot enumerate devices by the tag that were already connected before my daemon started.

Also `udevadm info` does not show the tags:
[code]

After running `udevadm test` they are pre

[2022-05-10 19:42] konradgraefe commented on #228
Running `udevadm trigger /sys/devices/platform/ff340000.usb/usb1/1-1/1-1.2` makes the tags permanent as well.

[2022-05-11 08:07] sandy-lcq opened #229 "why remove create static nodes from modules?"
Here is the commit:
https://gitweb.gentoo.org/proj/eudev.git/commit/?id=2b7abd5ec9cc47a8b895df6db77fb1537c6f1a39

with above commit,  static nodes is not created,  so after boot, there is no device like /dev/net/tun,
but in 50-udev-default.rules,  still have configuration KERNEL=="tun", MODE="0666", OPTIONS+="static_node=net/tun",
then above config will also not take effect.

I know udevd in syste

[2022-05-11 09:30] ArsenArsen commented on #229
as you said, it's now handled by tmpfiles services, you can use systemd-tmpfiles (as it works without systemd and can be compiled individually) or pick up opentmpfiles to fulfill this role

[2022-05-12 09:47] sandy-lcq commented on #229
But when using sysVinit,  if user still need to compile systemd,  it make things complicate and not straightforward.  kind of making sysVinit depend on systemd code.   (opentmpfiles  is dead and points you back to systemd-tmpfiles).

How about add this function back by add an option?  if enable this option,  user can still create static nodes.

[2022-05-14 08:58] vanfanel commented on #227
@bbonev Sorry it took me a bit long to go down the RetroArch machine room and start debugging this. So let's take a look together!

The problem seems to be in this function, `open_devices()`:

https://github.com/libretro/RetroArch/blob/a577d7d22418836c9adecc06c3459ae731456db0/input/drivers/udev_input.c#L1343

It adds match parameters on what it's looking for, so both `udev_enumerate_add_match_prop

[2022-05-19 18:13] slashbeast opened #230 "Static linking support for binaries, not only libs"
I have a really niche use case where I need udev inside initramfs, that does not came with libc or really much else. For that I build and link everything statically against musl libc using Alpine Linux as build root.

I did a quick check on it and while building with LDFLAGS='-static' I see that it kind of work like I wanted it to, but not really.

taking udevd as example:

    # make V=99 udevd

[2022-05-19 19:38] slashbeast commented on #230
Looks like it can be quick hacked after all, by passing 'LDFLAGS="-all-static" as make's argv rather than setting LDFLAGS as environmental variable, as this would break configure tests, and '-all-static' is libtool flag.

    ./configure
    make LDFLAGS="-all-static"

Seems to work just fine.

[2022-05-23 05:10] bbonev commented on #230
Thank you for the report, can you provide a PR to get this info documented?

[2022-06-06 09:47] #217 closed

[2022-06-15 12:04] yodayox opened #234 "missing progs"
new rules from
https://github.com/eudev-project/eudev/commit/247724da450b3bb8ef8d1963288069941b5cd904
needs dmi_memory_id and fdio_id which, as i can see, are not available in udev-243 src
extras from dmesg:
udevd[1567]: failed to execute '/lib/udev/dmi_memory_id' 'dmi_memory_id': No such file or directory
udevd[1613]: failed to execute '/lib/udev/fido_id' 'fido_id': No such file or directory

[2022-06-23 19:31] bbonev commented on #234
Thanks for the report. We will include the missing programs and that will most probably justify another pre-release.

[2022-06-29 12:16] yodayox commented on #234
not sure that (fido_id & memory_id) will ever work on eudev - requires a tons of systemd craps :-(

[2022-06-29 13:22] ArsenArsen commented on #234
It doesn't. It requires libsystemd, which is just common code for all systemd executables. We have related code here: https://github.com/eudev-project/eudev/tree/master/src/shared. Upstream dmi_memory_id.c doesn't look too bad to copy into our tree.

[2022-09-07 23:36] jenneron opened #235 "sync hwdb with systemd"
It is needed for accelerometers on Chrome OS devices, see https://github.com/systemd/systemd/pull/24353

[2022-09-13 05:22] navinagaraj opened #236 "undefined reference to `epoll_create1'"
Hi i tried to install latest version but i am facing this error any help. I attached the error log.
![eudev-3 2 11](https://user-images.githubusercontent.com/42691369/189829256-233716b1-2933-424d-81eb-d7f524f16261.png)

[eudev-3.2.11.log](https://github.com/eudev-project/eudev/files/9554197/eudev-3.2.11.log)

[2022-09-15 00:25] bbonev commented on #236
What OS is that?

[2022-09-15 13:32] navinagaraj commented on #236
Hi @bbonev I customization a os for PowerPC, the Kernel-2.6.26 , gcc-4.9.4 and uClibc-0.9.33.3-git,Debian distribution.

[2022-09-15 14:46] ArsenArsen commented on #236
it'd appear uClibc doesn't provide these functions? and, according to linker output, doesn't implement a few others. maybe musl works for you?

[2022-09-16 08:06] navinagaraj commented on #236
Thanks @ArsenArsen  for quick respons.

[2022-09-16 08:06] #236 closed

[2022-09-16 18:45] rubyFeedback opened #237 "Homepage for eudev and releases"
Hey guys.

Today (and yesterday) I am compiling a new LFS from scratch. \o/

So far it all works.

I am now at eudev:

https://www.linuxfromscratch.org/lfs/view/stable/chapter08/eudev.html

I did notice it wanted eudev-3.2.11.

I was at eudev-3.2.10.

So I used my local update script. It can infer the new URL and checks
remotely via curl/wget for changes. So I kind of like "static" URLs
such as:

[2022-09-16 18:53] bbonev commented on #237
I did ask @blueness to do that long ago.

The original plan was (still is) to keep the old place for historical reasons but also include a link and a message that it is deprecated/archive.

Thanks for raising the topic.

[2022-09-21 23:15] bbonev commented on #230
I am closing the issue, in case you decide to provide a PR, that will be welcomed

[2022-09-21 23:15] #230 closed

[2022-09-22 18:48] #235 closed

[2022-09-28 13:23] nekopsykose commented on #227
well, you also ran a test above where you started it in one tty, and it still didn't work. so the issue existed with it running, too.

but for some more testing, could you instead do a more 'normal' udevd init, something like:

[code]

and then trying again? i'm not sure if that's entirely correct (there might be a few other requirements i'm forgetting, and i didn't test if it literally works, but

[2022-11-15 04:57] dermotbradley opened #241 "Plan for new release?"
Hi. It has been 11 months since the last release and there were 3 pre-releases made in June.

Is there a plan for an actual 3.2.12 release?

[2022-11-15 05:24] bbonev commented on #241
See https://github.com/eudev-project/eudev/pull/240 - this was the main show-stopper.

After this one is processed, we will be doing another pre-release and a release after testing the changes...

[2022-11-15 05:24] #241 closed

[2022-11-28 17:02] yodayox opened #242 "ata path_id"
dropped on the way log time ago and nobody seems to care about..
https://forums.gentoo.org/viewtopic-t-1053170.html
so restored by.. me, as follow:
`--- a/src/udev/udev-builtin-path_id.c	2022-06-14 02:44:42.000000000 +0300
+++ b/src/udev/udev-builtin-path_id.c	2022-11-27 11:58:38.190434094 +0200
@@ -390,6 +390,55 @@
         return hostdev;
 }

+static struct udev_device *handle_scsi_ata(struct ud

[2022-11-28 17:03] yodayox opened #243 "ata path_id"
dropped on the way log time ago and nobody seems to care about..
https://forums.gentoo.org/viewtopic-t-1053170.html
so restored by.. me, as follow:
--- a/src/udev/udev-builtin-path_id.c	2022-06-14 02:44:42.000000000 +0300
+++ b/src/udev/udev-builtin-path_id.c	2022-11-27 11:58:38.190434094 +0200
@@ -390,6 +390,55 @@
         return hostdev;
 }

+static struct udev_device *handle_scsi_ata(struct ude

[2022-11-28 19:09] #243 closed

[2022-11-28 20:01] yodayox commented on #242
yes the are more changes but this is what was dropped in the past
restored  from 252 and.. it works fine to me .

[2022-11-29 07:24] yodayox commented on #242
you said path will leak
then the last part of the patch above should look like the follow one (also restored the "style")
)````
@@ -694,6 +743,16 @@

                 udev_builtin_add_property(dev, test, "ID_PATH", path);
                 udev_builtin_add_property(dev, test, "ID_PATH_TAG", tag);
+        /*
+         * Compatible link generation for ATA devices
+         * we assign compat_link to

[2022-11-29 17:54] bbonev commented on #242
Better make it consistent with compat_path:

`_cleanup_free_ char *path = NULL;`

and do not use free at all, because `_cleanup_free_` will automagically free it after it comes out of scope.

About the pull request - that is part of the current project workflow, and if you do not know how to do that, it is perfectly fine, someone of us will do it when they have time. The patch above needs some mor

[2022-11-29 20:10] yodayox commented on #242
yes you're right using free is a pain in the a..s for udevd .. it seems that it cannot use that variable after free
so used _cleanup_free_ for both var (path and compat_path)
now it looks and acts better..
[code]